In [25]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [26]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("ADA-USD.csv")
adaDF = pd.read_csv(file_path)

# Display sample data
adaDF.head() 

# Review the DataFrame
adaDF

            Date      Open      High       Low     Close  Adj Close     Volume
0     2018-01-01  0.718847  0.730051  0.671941  0.728657   0.728657  150186000
1     2018-01-02  0.724676  0.794646  0.697856  0.782587   0.782587  289712000
2     2018-01-03  0.779681  1.085670  0.778578  1.079660   1.079660  657398016
3     2018-01-04  1.094030  1.327210  1.037650  1.114120   1.114120  593430016
4     2018-01-05  1.171150  1.252420  0.903503  0.999559   0.999559  508100000
...          ...       ...       ...       ...       ...        ...        ...
1966  2023-05-21  0.366352  0.367398  0.358336  0.360363   0.360363  116595379
1967  2023-05-22  0.360382  0.373213  0.357263  0.367997   0.367997  177956408
1968  2023-05-23  0.368004  0.375178  0.366596  0.370484   0.370484  141912382
1969  2023-05-24  0.370500  0.370566  0.360984  0.364234   0.364234  175329362
1970  2023-05-25  0.364426  0.364431  0.355889  0.358662   0.358662  155583904

[1971 rows x 7 columns]

In [27]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1971 non-null   object
 1   Open       1971 non-null   float64
 2   High       1971 non-null   float64
 3   Low        1971 non-null   float64
 4   Close      1971 non-null   float64
 5   Adj Close  1971 non-null   float64
 6   Volume     1971 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 107.9+ KB

In [28]:
# Convert 'date' column to datetime
adaDF['Date'] = pd.to_datetime(adaDF['Date'])

# Extract year, month, and day into separate columns
adaDF['year'] = adaDF['Date'].dt.year.astype(int)
adaDF['month'] = adaDF['Date'].dt.month.astype(int)
adaDF['day'] = adaDF['Date'].dt.day.astype(int)

adaDF.set_index("Date", inplace=True)

# Display the updated DataFrame
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24
2023-05-25,0.364426,0.364431,0.355889,0.358662,0.358662,155583904,2023,5,25

In [29]:
adaDF["TomorrowClose"] = adaDF["Close"].shift(-1)
adaDF.dropna(inplace=True)
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1,0.782587
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2,1.079660
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3,1.114120
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4,0.999559
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5,1.027150
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,0.368242,0.368382,0.364512,0.366357,0.366357,118748065,2023,5,20,0.360363
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21,0.367997
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22,0.370484
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23,0.364234
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24,0.358662

In [30]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1970 entries, 2018-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           1970 non-null   float64
 1   High           1970 non-null   float64
 2   Low            1970 non-null   float64
 3   Close          1970 non-null   float64
 4   Adj Close      1970 non-null   float64
 5   Volume         1970 non-null   int64
 6   year           1970 non-null   int32
 7   month          1970 non-null   int32
 8   day            1970 non-null   int32
 9   TomorrowClose  1970 non-null   float64
dtypes: float64(6), int32(3), int64(1)
memory usage: 146.2 KB

In [31]:
# Separate the data into labels and features

y = adaDF["TomorrowClose"]
X = adaDF.drop(columns=["TomorrowClose"])

In [32]:
# Review the y variable Series
y

Date
2018-01-01    0.782587
2018-01-02    1.079660
2018-01-03    1.114120
2018-01-04    0.999559
2018-01-05    1.027150
                ...
2023-05-20    0.360363
2023-05-21    0.367997
2023-05-22    0.370484
2023-05-23    0.364234
2023-05-24    0.358662
Name: TomorrowClose, Length: 1970, dtype: float64

In [33]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,0.368242,0.368382,0.364512,0.366357,0.366357,118748065,2023,5,20
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24

In [34]:
# Check the balance of our target values
y.value_counts()

TomorrowClose
0.041672    2
0.044990    2
0.044777    2
0.059944    2
0.782587    1
           ..
0.039280    1
0.039529    1
0.039225    1
0.038073    1
0.358662    1
Name: count, Length: 1966, dtype: int64

In [35]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [36]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [37]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2020-03-26,0.029438,0.030742,0.029351,0.030727,0.030727,81633746,2020,3,26
2018-09-28,0.086403,0.088327,0.082045,0.084032,0.084032,89113600,2018,9,28
2022-11-22,0.304524,0.315869,0.299104,0.311922,0.311922,303965817,2022,11,22
2023-05-15,0.370787,0.375465,0.367480,0.367482,0.367482,176627170,2023,5,15
2019-09-01,0.044952,0.045357,0.043729,0.044543,0.044543,31928555,2019,9,1
...,...,...,...,...,...,...,...,...,...
2022-11-27,0.313793,0.319191,0.312288,0.312454,0.312454,167898046,2022,11,27
2021-01-01,0.181382,0.184246,0.172022,0.175350,0.175350,1122218004,2021,1,1
2023-04-17,0.451758,0.451758,0.433168,0.434167,0.434167,467653074,2023,4,17
2018-08-24,0.092846,0.094363,0.090948,0.094077,0.094077,35302400,2018,8,24
2020-11-27,0.138292,0.144637,0.131366,0.141028,0.141028,1505708870,2020,11,27

In [38]:
# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 0.002458411849131973
R^2 Score: 0.9933746199661416

In [39]:
print("Cardano (ADA)")
highest_value = adaDF['High'].max()
highest_date = adaDF.loc[adaDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = adaDF['High'].min()
lowest_date = adaDF.loc[adaDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Cardano (ADA)
Highest Value: $ 3.1 on 9/2/2021
Lowest Value: $ 0.03 on 3/18/2020

In [40]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 3.720e+04
Date:                Sat, 03 Jun 2023   Prob (F-statistic):               0.00
Time:                        13:13:25   Log-Likelihood:                 2468.4
No. Observations:                1477   AIC:                            -4921.
Df Residuals:                    1469   BIC:                            -4878.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.1582      0.048      3.285      0.001       0.064       0.253
High          -0.0480      0.071     -0.676      0.499      -0.187       0.091
Low           -0.1576      0.046     -3.439      0.001      -0.247      -0.068
Close          0.5182      0.032     16.130      0.000       0.455       0.581
Adj Close      0.5182      0.032     16.130      0.000       0.455       0.581
Volume      3.213e-13   1.07e-12      0.301      0.763   -1.77e-12    2.41e-12
year        1.549e-06   1.67e-06      0.927      0.354   -1.73e-06    4.83e-06
month         -0.0001      0.000     -0.372      0.710      -0.001       0.001
day        -3.291e-05      0.000     -0.241      0.809      -0.000       0.000
==============================================================================
Omnibus:                      404.475   Durbin-Watson:                   1.950
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            33899.721
Skew:                           0.114   Prob(JB):                         0.00
Kurtosis:                      26.469   Cond. No.                     4.81e+25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.46e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [41]:
y_test

Date
2019-11-12    0.043492
2021-04-25    1.234019
2021-03-09    1.135003
2021-06-04    1.659009
2020-10-05    0.092808
                ...
2018-01-20    0.613163
2021-06-21    1.153254
2022-05-11    0.473746
2019-03-09    0.045698
2022-09-22    0.461821
Name: TomorrowClose, Length: 493, dtype: float64

In [42]:
y_pred

array([0.04415344, 1.08890646, 1.18550889, 1.72630154, 0.09876227,
       1.24582737, 0.08391497, 0.0484996 , 0.03194426, 0.04438657,
       0.10673157, 0.09968582, 0.04428347, 0.04362075, 2.40978488,
       0.0598689 , 0.03697927, 0.04653831, 0.14120107, 0.39583945,
       0.0393381 , 0.07199667, 0.08783021, 0.51312636, 0.15705049,
       0.121133  , 0.53487398, 1.42133158, 0.37070576, 0.07021873,
       0.04011768, 0.44768844, 0.31865788, 0.51452656, 0.40987661,
       0.13592828, 0.14583734, 1.33593597, 0.99253538, 0.33727879,
       2.20562606, 0.08031627, 0.09076689, 0.10399437, 0.04762398,
       1.82666351, 0.09634008, 0.37075571, 1.9461833 , 0.08595712,
       0.36317727, 0.04977339, 0.07197348, 0.05847882, 0.39937802,
       1.04137348, 0.28244032, 0.50230484, 0.09799946, 0.14641839,
       2.02390182, 0.0360822 , 0.30673154, 0.18047749, 0.92446583,
       0.14140794, 0.05858902, 0.04959083, 0.32051041, 0.38540812,
       0.10751605, 0.03463527, 0.09481329, 0.04958918, 0.05733395,
       2.18485778, 1.25713813, 0.58590987, 0.04317416, 0.5121154 ,
       0.44230489, 0.41479702, 0.12582422, 1.21478556, 1.05594295,
       2.92063323, 0.03903521, 2.06672821, 0.3852082 , 0.56739128,
       0.26996233, 0.9274381 , 0.93196808, 1.11515653, 0.6174177 ,
       0.50013254, 0.04535181, 0.31453524, 0.09324787, 0.07831889,
       1.39015919, 0.08253576, 0.04280884, 0.03341506, 0.35780557,
       0.06215735, 1.24194355, 0.76150854, 0.19985001, 0.09685857,
       0.39243445, 0.07998282, 1.09917087, 0.08516253, 0.04365976,
       0.09826005, 0.43031813, 1.24188674, 0.04247695, 0.48520399,
       0.0624228 , 0.36396389, 0.07253132, 0.14441466, 0.78206711,
       1.34370864, 1.75432944, 1.20607322, 0.10864654, 0.04501139,
       0.34824716, 0.02767112, 0.49360213, 0.03905792, 0.04428597,
       0.38077583, 0.11157473, 0.83373268, 0.07505339, 1.26908282,
       0.06670989, 0.56830707, 0.86545051, 0.24365319, 1.10253771,
       1.90066575, 0.06928251, 0.08417275, 0.4392764 , 0.0441554 ,
       0.12675307, 0.50904676, 1.38298955, 0.3204173 , 0.0364655 ,
       1.31375398, 0.0404841 , 0.03281395, 0.2695784 , 0.13881937,
       0.04691992, 0.09019676, 0.03781028, 0.03134684, 0.0487545 ,
       0.04774932, 0.0474959 , 0.0543218 , 1.49511208, 0.48622927,
       1.47679633, 0.15591912, 0.52979374, 1.27520564, 1.43104818,
       0.26611207, 2.41635016, 0.05313196, 0.12848762, 1.55456988,
       0.38937714, 0.45449147, 1.73369236, 0.05260042, 0.08487808,
       0.15494517, 0.09892882, 0.30822263, 0.03735279, 1.23642585,
       0.0438415 , 0.47887358, 0.07961258, 0.10864114, 1.2942429 ,
       0.05984888, 0.44213471, 1.11312961, 0.34074321, 0.03485098,
       0.44538347, 0.03140889, 0.03939201, 0.1114822 , 1.30812546,
       1.52191946, 0.04496092, 0.04179258, 0.10341368, 0.10705771,
       0.0844818 , 0.56335315, 0.08930418, 0.33406116, 0.81691568,
       0.53664805, 0.5430328 , 0.03429574, 2.07980408, 0.04358988,
       0.03399866, 0.34673114, 0.06072683, 0.42756944, 2.1217198 ,
       0.40110596, 1.05140341, 0.050253  , 0.16774288, 0.48117641,
       0.03206277, 0.19220235, 0.03855812, 0.29226607, 0.12685991,
       0.05348695, 0.62044394, 0.06857746, 0.04076972, 1.16334232,
       2.93174744, 0.05426058, 0.0435904 , 0.04277451, 1.17118623,
       0.08113707, 0.40521728, 1.34195655, 0.33487288, 1.19159453,
       0.27073667, 0.52693869, 0.36570006, 0.15249622, 0.83162365,
       0.05213946, 0.44899077, 0.31422514, 0.20403873, 0.09303284,
       0.51402024, 1.7647388 , 0.06046071, 0.0393785 , 1.25737259,
       0.04964017, 0.10722875, 1.39761961, 0.39353779, 0.18715071,
       1.17690743, 1.46298924, 0.80543475, 0.08120325, 0.08980398,
       0.05541774, 1.65907936, 0.04243666, 0.40313652, 0.04383759,
       2.2305891 , 2.09179468, 1.17616494, 0.44491687, 0.45188884,
       0.05327909, 0.09405918, 1.20753557, 0.09549441, 0.27351043,
       0.09414218, 0.40151879, 1.02824782, 0.15534997, 0.03726448,
       1.84923573, 0.89297608, 1.04475105, 0.34265375, 0.08058318,
       0.1069472 , 1.40458164, 0.36710087, 0.03906069, 0.44247268,
       0.2571229 , 0.18022163, 0.25062445, 0.04900084, 0.46170574,
       0.4644608 , 0.15944802, 0.04905981, 2.54030519, 0.05977315,
       0.08270744, 0.31877099, 0.35840987, 0.32667499, 1.37292226,
       0.44454126, 0.07842492, 1.16049945, 1.10220403, 0.32771876,
       0.0279881 , 0.10197177, 1.73612633, 0.37712628, 2.20959783,
       1.19882122, 0.08835713, 0.55273901, 0.0854698 , 0.04516091,
       1.40359112, 0.08555777, 0.25633119, 1.04644038, 0.78724955,
       0.50159436, 0.07143686, 0.38216365, 1.53123928, 0.04396232,
       0.06810257, 0.3724314 , 1.14770396, 0.03030482, 0.31624301,
       0.39799699, 0.06360666, 1.09326952, 0.0723543 , 1.6597192 ,
       0.04323699, 0.24646565, 0.09258795, 2.20426996, 0.57868722,
       0.38653776, 0.06953189, 0.38083419, 0.39866093, 0.24709045,
       0.07344866, 0.98497311, 0.07885382, 0.04518781, 0.79982878,
       0.05415094, 0.04526436, 0.03596117, 1.55530338, 0.30951529,
       0.72784266, 1.22929835, 0.36952865, 0.04068912, 0.14233822,
       0.36313606, 0.29229498, 1.9898698 , 0.03871718, 0.11802139,
       0.51531082, 0.16215174, 0.89218167, 0.52051298, 0.90322125,
       0.45093161, 0.46140265, 0.62742311, 0.0343252 , 0.33388856,
       0.03785829, 0.13158935, 0.07453573, 0.07180369, 1.20812568,
       0.19126357, 0.13301738, 0.03559146, 0.04822372, 0.14094746,
       0.10563042, 0.03109236, 0.04666894, 0.04044053, 0.40148264,
       0.06934807, 1.0501167 , 0.07330027, 0.38895499, 0.51197664,
       0.91464226, 0.06166544, 0.2038285 , 0.04450228, 0.14038013,
       0.21048364, 0.03977359, 0.05116944, 0.10321815, 0.10852338,
       0.25730445, 1.93161338, 0.0372634 , 0.10706221, 1.20261486,
       2.33122205, 0.16013389, 2.0928519 , 0.11026519, 1.04754316,
       0.0893715 , 0.34799023, 0.06366748, 0.4016444 , 0.04128284,
       2.81387898, 0.05926992, 0.05327444, 2.23784285, 1.12485468,
       0.04838594, 0.48795936, 0.12805847, 0.14104045, 0.07168711,
       0.06837272, 0.06414613, 1.0973345 , 0.09235289, 0.05911663,
       2.11525437, 0.39949569, 0.3574263 , 0.31088811, 0.38355094,
       1.52828933, 0.04734178, 0.06903776, 0.47883457, 0.04719708,
       0.29816577, 0.08604266, 0.35527147, 0.05103474, 0.54096336,
       0.48565863, 0.03873431, 0.87510288, 0.06772436, 0.08830312,
       0.50051722, 0.08065367, 0.34215945, 2.10949313, 0.3723996 ,
       0.38922061, 0.05342109, 1.56725836, 1.20197713, 0.08083497,
       0.16525329, 0.03847784, 0.05344443, 0.69997723, 1.19657522,
       0.52864569, 0.04760131, 0.45821949])

In [43]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([0.04415344, 1.08890646, 1.18550889, 1.72630154, 0.09876227,
       1.24582737, 0.08391497, 0.0484996 , 0.03194426, 0.04438657,
       0.10673157, 0.09968582, 0.04428347, 0.04362075, 2.40978488,
       0.0598689 , 0.03697927, 0.04653831, 0.14120107, 0.39583945,
       0.0393381 , 0.07199667, 0.08783021, 0.51312636, 0.15705049,
       0.121133  , 0.53487398, 1.42133158, 0.37070576, 0.07021873,
       0.04011768, 0.44768844, 0.31865788, 0.51452656, 0.40987661,
       0.13592828, 0.14583734, 1.33593597, 0.99253538, 0.33727879,
       2.20562606, 0.08031627, 0.09076689, 0.10399437, 0.04762398,
       1.82666351, 0.09634008, 0.37075571, 1.9461833 , 0.08595712,
       0.36317727, 0.04977339, 0.07197348, 0.05847882, 0.39937802,
       1.04137348, 0.28244032, 0.50230484, 0.09799946, 0.14641839,
       2.02390182, 0.0360822 , 0.30673154, 0.18047749, 0.92446583,
       0.14140794, 0.05858902, 0.04959083, 0.32051041, 0.38540812,
       0.10751605, 0.03463527, 0.09481329, 0.04958918, 0.05733395,
       2.18485778, 1.25713813, 0.58590987, 0.04317416, 0.5121154 ,
       0.44230489, 0.41479702, 0.12582422, 1.21478556, 1.05594295,
       2.92063323, 0.03903521, 2.06672821, 0.3852082 , 0.56739128,
       0.26996233, 0.9274381 , 0.93196808, 1.11515653, 0.6174177 ,
       0.50013254, 0.04535181, 0.31453524, 0.09324787, 0.07831889,
       1.39015919, 0.08253576, 0.04280884, 0.03341506, 0.35780557,
       0.06215735, 1.24194355, 0.76150854, 0.19985001, 0.09685857,
       0.39243445, 0.07998282, 1.09917087, 0.08516253, 0.04365976,
       0.09826005, 0.43031813, 1.24188674, 0.04247695, 0.48520399,
       0.0624228 , 0.36396389, 0.07253132, 0.14441466, 0.78206711,
       1.34370864, 1.75432944, 1.20607322, 0.10864654, 0.04501139,
       0.34824716, 0.02767112, 0.49360213, 0.03905792, 0.04428597,
       0.38077583, 0.11157473, 0.83373268, 0.07505339, 1.26908282,
       0.06670989, 0.56830707, 0.86545051, 0.24365319, 1.10253771,
       1.90066575, 0.06928251, 0.08417275, 0.4392764 , 0.0441554 ,
       0.12675307, 0.50904676, 1.38298955, 0.3204173 , 0.0364655 ,
       1.31375398, 0.0404841 , 0.03281395, 0.2695784 , 0.13881937,
       0.04691992, 0.09019676, 0.03781028, 0.03134684, 0.0487545 ,
       0.04774932, 0.0474959 , 0.0543218 , 1.49511208, 0.48622927,
       1.47679633, 0.15591912, 0.52979374, 1.27520564, 1.43104818,
       0.26611207, 2.41635016, 0.05313196, 0.12848762, 1.55456988,
       0.38937714, 0.45449147, 1.73369236, 0.05260042, 0.08487808,
       0.15494517, 0.09892882, 0.30822263, 0.03735279, 1.23642585,
       0.0438415 , 0.47887358, 0.07961258, 0.10864114, 1.2942429 ,
       0.05984888, 0.44213471, 1.11312961, 0.34074321, 0.03485098,
       0.44538347, 0.03140889, 0.03939201, 0.1114822 , 1.30812546,
       1.52191946, 0.04496092, 0.04179258, 0.10341368, 0.10705771,
       0.0844818 , 0.56335315, 0.08930418, 0.33406116, 0.81691568,
       0.53664805, 0.5430328 , 0.03429574, 2.07980408, 0.04358988,
       0.03399866, 0.34673114, 0.06072683, 0.42756944, 2.1217198 ,
       0.40110596, 1.05140341, 0.050253  , 0.16774288, 0.48117641,
       0.03206277, 0.19220235, 0.03855812, 0.29226607, 0.12685991,
       0.05348695, 0.62044394, 0.06857746, 0.04076972, 1.16334232,
       2.93174744, 0.05426058, 0.0435904 , 0.04277451, 1.17118623,
       0.08113707, 0.40521728, 1.34195655, 0.33487288, 1.19159453,
       0.27073667, 0.52693869, 0.36570006, 0.15249622, 0.83162365,
       0.05213946, 0.44899077, 0.31422514, 0.20403873, 0.09303284,
       0.51402024, 1.7647388 , 0.06046071, 0.0393785 , 1.25737259,
       0.04964017, 0.10722875, 1.39761961, 0.39353779, 0.18715071,
       1.17690743, 1.46298924, 0.80543475, 0.08120325, 0.08980398,
       0.05541774, 1.65907936, 0.04243666, 0.40313652, 0.04383759,
       2.2305891 , 2.09179468, 1.17616494, 0.44491687, 0.45188884,
       0.05327909, 0.09405918, 1.20753557, 0.09549441, 0.27351043,
       0.09414218, 0.40151879, 1.02824782, 0.15534997, 0.03726448,
       1.84923573, 0.89297608, 1.04475105, 0.34265375, 0.08058318,
       0.1069472 , 1.40458164, 0.36710087, 0.03906069, 0.44247268,
       0.2571229 , 0.18022163, 0.25062445, 0.04900084, 0.46170574,
       0.4644608 , 0.15944802, 0.04905981, 2.54030519, 0.05977315,
       0.08270744, 0.31877099, 0.35840987, 0.32667499, 1.37292226,
       0.44454126, 0.07842492, 1.16049945, 1.10220403, 0.32771876,
       0.0279881 , 0.10197177, 1.73612633, 0.37712628, 2.20959783,
       1.19882122, 0.08835713, 0.55273901, 0.0854698 , 0.04516091,
       1.40359112, 0.08555777, 0.25633119, 1.04644038, 0.78724955,
       0.50159436, 0.07143686, 0.38216365, 1.53123928, 0.04396232,
       0.06810257, 0.3724314 , 1.14770396, 0.03030482, 0.31624301,
       0.39799699, 0.06360666, 1.09326952, 0.0723543 , 1.6597192 ,
       0.04323699, 0.24646565, 0.09258795, 2.20426996, 0.57868722,
       0.38653776, 0.06953189, 0.38083419, 0.39866093, 0.24709045,
       0.07344866, 0.98497311, 0.07885382, 0.04518781, 0.79982878,
       0.05415094, 0.04526436, 0.03596117, 1.55530338, 0.30951529,
       0.72784266, 1.22929835, 0.36952865, 0.04068912, 0.14233822,
       0.36313606, 0.29229498, 1.9898698 , 0.03871718, 0.11802139,
       0.51531082, 0.16215174, 0.89218167, 0.52051298, 0.90322125,
       0.45093161, 0.46140265, 0.62742311, 0.0343252 , 0.33388856,
       0.03785829, 0.13158935, 0.07453573, 0.07180369, 1.20812568,
       0.19126357, 0.13301738, 0.03559146, 0.04822372, 0.14094746,
       0.10563042, 0.03109236, 0.04666894, 0.04044053, 0.40148264,
       0.06934807, 1.0501167 , 0.07330027, 0.38895499, 0.51197664,
       0.91464226, 0.06166544, 0.2038285 , 0.04450228, 0.14038013,
       0.21048364, 0.03977359, 0.05116944, 0.10321815, 0.10852338,
       0.25730445, 1.93161338, 0.0372634 , 0.10706221, 1.20261486,
       2.33122205, 0.16013389, 2.0928519 , 0.11026519, 1.04754316,
       0.0893715 , 0.34799023, 0.06366748, 0.4016444 , 0.04128284,
       2.81387898, 0.05926992, 0.05327444, 2.23784285, 1.12485468,
       0.04838594, 0.48795936, 0.12805847, 0.14104045, 0.07168711,
       0.06837272, 0.06414613, 1.0973345 , 0.09235289, 0.05911663,
       2.11525437, 0.39949569, 0.3574263 , 0.31088811, 0.38355094,
       1.52828933, 0.04734178, 0.06903776, 0.47883457, 0.04719708,
       0.29816577, 0.08604266, 0.35527147, 0.05103474, 0.54096336,
       0.48565863, 0.03873431, 0.87510288, 0.06772436, 0.08830312,
       0.50051722, 0.08065367, 0.34215945, 2.10949313, 0.3723996 ,
       0.38922061, 0.05342109, 1.56725836, 1.20197713, 0.08083497,
       0.16525329, 0.03847784, 0.05344443, 0.69997723, 1.19657522,
       0.52864569, 0.04760131, 0.45821949])

In [44]:
X_test

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2019-11-12,0.043257,0.044631,0.043227,0.043767,0.043767,79520150,2019,11,12
2021-04-25,1.102703,1.146124,1.022775,1.088250,1.088250,2465672138,2021,4,25
2021-03-09,1.118145,1.214923,1.113320,1.195161,1.195161,5317733185,2021,3,9
2021-06-04,1.846715,1.848485,1.609734,1.710908,1.710908,4583062567,2021,6,4
2020-10-05,0.096404,0.098719,0.096325,0.097544,0.097544,625952257,2020,10,5
...,...,...,...,...,...,...,...,...,...
2018-01-20,0.656564,0.726242,0.647644,0.707510,0.707510,738798976,2018,1,20
2021-06-21,1.427028,1.436257,1.170604,1.177480,1.177480,3987752749,2021,6,21
2022-05-11,0.628772,0.657571,0.484610,0.512800,0.512800,2692548110,2022,5,11
2019-03-09,0.042686,0.046951,0.042656,0.046728,0.046728,52185658,2019,3,9
2022-09-22,0.440876,0.465499,0.435710,0.458966,0.458966,762487961,2022,9,22

['../../Reginald/Webapp/ml/models/model_ada.joblib']