In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("ETH-USD.csv")
adaDF = pd.read_csv(file_path)

# Display sample data
adaDF.head() 

# Review the DataFrame
adaDF

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824
...,...,...,...,...,...,...,...
1966,2023-05-21,1820.138062,1827.921997,1799.946899,1804.531372,1804.531372,3386768865
1967,2023-05-22,1804.841919,1826.696533,1793.223999,1817.534790,1817.534790,4534841049
1968,2023-05-23,1817.781128,1869.343994,1816.287964,1854.380615,1854.380615,6820047160
1969,2023-05-24,1854.299683,1854.299683,1780.925537,1800.099976,1800.099976,7101647419
1970,2023-05-25,1802.896851,1813.015137,1763.365112,1810.353027,1810.353027,6490048512

In [3]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1971 non-null   object
 1   Open       1971 non-null   float64
 2   High       1971 non-null   float64
 3   Low        1971 non-null   float64
 4   Close      1971 non-null   float64
 5   Adj Close  1971 non-null   float64
 6   Volume     1971 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 107.9+ KB

In [4]:

# Convert 'date' column to datetime
adaDF['Date'] = pd.to_datetime(adaDF['Date'])

# Extract year, month, and day into separate columns
adaDF['year'] = adaDF['Date'].dt.year.astype(int)
adaDF['month'] = adaDF['Date'].dt.month.astype(int)
adaDF['day'] = adaDF['Date'].dt.day.astype(int)

adaDF.set_index("Date", inplace=True)

# Display the updated DataFrame
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128,2018,1,1
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760,2018,1,2
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936,2018,1,3
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776,2018,1,4
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,1820.138062,1827.921997,1799.946899,1804.531372,1804.531372,3386768865,2023,5,21
2023-05-22,1804.841919,1826.696533,1793.223999,1817.534790,1817.534790,4534841049,2023,5,22
2023-05-23,1817.781128,1869.343994,1816.287964,1854.380615,1854.380615,6820047160,2023,5,23
2023-05-24,1854.299683,1854.299683,1780.925537,1800.099976,1800.099976,7101647419,2023,5,24
2023-05-25,1802.896851,1813.015137,1763.365112,1810.353027,1810.353027,6490048512,2023,5,25

In [5]:
adaDF["TomorrowClose"] = adaDF["Close"].shift(-1)
adaDF.dropna(inplace=True)
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128,2018,1,1,884.443970
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760,2018,1,2,962.719971
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936,2018,1,3,980.921997
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776,2018,1,4,997.719971
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824,2018,1,5,1041.680054
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,1812.766113,1829.009644,1808.046753,1820.478027,1820.478027,2951655969,2023,5,20,1804.531372
2023-05-21,1820.138062,1827.921997,1799.946899,1804.531372,1804.531372,3386768865,2023,5,21,1817.534790
2023-05-22,1804.841919,1826.696533,1793.223999,1817.534790,1817.534790,4534841049,2023,5,22,1854.380615
2023-05-23,1817.781128,1869.343994,1816.287964,1854.380615,1854.380615,6820047160,2023,5,23,1800.099976
2023-05-24,1854.299683,1854.299683,1780.925537,1800.099976,1800.099976,7101647419,2023,5,24,1810.353027

In [6]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1970 entries, 2018-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           1970 non-null   float64
 1   High           1970 non-null   float64
 2   Low            1970 non-null   float64
 3   Close          1970 non-null   float64
 4   Adj Close      1970 non-null   float64
 5   Volume         1970 non-null   int64
 6   year           1970 non-null   int32
 7   month          1970 non-null   int32
 8   day            1970 non-null   int32
 9   TomorrowClose  1970 non-null   float64
dtypes: float64(6), int32(3), int64(1)
memory usage: 146.2 KB

In [7]:
# Separate the data into labels and features

y = adaDF["TomorrowClose"]
X = adaDF.drop(columns=["TomorrowClose"])

In [8]:
# Review the y variable Series
y

Date
2018-01-01     884.443970
2018-01-02     962.719971
2018-01-03     980.921997
2018-01-04     997.719971
2018-01-05    1041.680054
                 ...
2023-05-20    1804.531372
2023-05-21    1817.534790
2023-05-22    1854.380615
2023-05-23    1800.099976
2023-05-24    1810.353027
Name: TomorrowClose, Length: 1970, dtype: float64

In [9]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128,2018,1,1
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760,2018,1,2
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936,2018,1,3
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776,2018,1,4
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,1812.766113,1829.009644,1808.046753,1820.478027,1820.478027,2951655969,2023,5,20
2023-05-21,1820.138062,1827.921997,1799.946899,1804.531372,1804.531372,3386768865,2023,5,21
2023-05-22,1804.841919,1826.696533,1793.223999,1817.534790,1817.534790,4534841049,2023,5,22
2023-05-23,1817.781128,1869.343994,1816.287964,1854.380615,1854.380615,6820047160,2023,5,23
2023-05-24,1854.299683,1854.299683,1780.925537,1800.099976,1800.099976,7101647419,2023,5,24

In [10]:
# Check the balance of our target values
y.value_counts()

TomorrowClose
884.443970     1
3014.845947    1
3310.504150    1
3265.443359    1
3322.211670    1
              ..
176.013504     1
181.406067     1
186.960907     1
182.075150     1
1810.353027    1
Name: count, Length: 1970, dtype: int64

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [12]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [13]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2020-03-26,136.190674,138.830566,134.886032,138.361557,138.361557,11367261176,2020,3,26
2018-09-28,229.041000,231.748001,218.669006,222.401993,222.401993,2018120000,2018,9,28
2022-11-22,1107.895996,1136.442627,1081.138184,1135.173462,1135.173462,12040670755,2022,11,22
2023-05-15,1800.371216,1845.695435,1787.536377,1817.549927,1817.549927,6748889346,2023,5,15
2019-09-01,172.458405,173.696854,169.531281,171.629425,171.629425,5554799576,2019,9,1
...,...,...,...,...,...,...,...,...,...
2022-11-27,1205.905273,1220.349487,1195.039063,1195.126953,1195.126953,4486976868,2022,11,27
2021-01-01,737.708374,749.201843,719.792236,730.367554,730.367554,13652004358,2021,1,1
2023-04-17,2120.001221,2120.113525,2063.038574,2076.242920,2076.242920,9648882546,2023,4,17
2018-08-24,278.110992,283.302002,273.859985,282.967010,282.967010,1450170000,2018,8,24
2020-11-27,519.108093,530.777161,497.242615,517.493713,517.493713,16831105703,2020,11,27

In [14]:


# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 6002.692966192496
R^2 Score: 0.9955045192077923

In [15]:
print("Ethereum (ETH)")
highest_value = adaDF['High'].max()
highest_date = adaDF.loc[adaDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = adaDF['High'].min()
lowest_date = adaDF.loc[adaDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Ethereum (ETH)
Highest Value: $ 4891.7 on 11/16/2021
Lowest Value: $ 85.34 on 12/15/2018

In [16]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.996
Method:                 Least Squares   F-statistic:                 4.760e+04
Date:                Sat, 03 Jun 2023   Prob (F-statistic):               0.00
Time:                        17:04:11   Log-Likelihood:                -8519.6
No. Observations:                1477   AIC:                         1.706e+04
Df Residuals:                    1469   BIC:                         1.710e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.3173      0.057      5.580      0.000       0.206       0.429
High          -0.2982      0.070     -4.242      0.000      -0.436      -0.160
Low           -0.2015      0.054     -3.744      0.000      -0.307      -0.096
Close          0.5898      0.030     19.593      0.000       0.531       0.649
Adj Close      0.5898      0.030     19.593      0.000       0.531       0.649
Volume      4.099e-10   2.71e-10      1.514      0.130   -1.21e-10    9.41e-10
year          -0.0014      0.003     -0.454      0.650      -0.008       0.005
month         -0.0642      0.583     -0.110      0.912      -1.208       1.079
day            0.2386      0.232      1.028      0.304      -0.216       0.694
==============================================================================
Omnibus:                      514.127   Durbin-Watson:                   2.042
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19598.059
Skew:                          -0.921   Prob(JB):                         0.00
Kurtosis:                      20.750   Cond. No.                     4.56e+24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.96e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
y_test

Date
2019-11-12     188.258743
2021-04-25    2534.481689
2021-03-09    1799.166260
2021-06-04    2630.576904
2020-10-05     340.815857
                 ...
2018-01-20    1049.579956
2021-06-21    1874.950073
2022-05-11    1961.701538
2019-03-09     136.758682
2022-09-22    1328.259521
Name: TomorrowClose, Length: 493, dtype: float64

In [18]:
y_pred

array([ 188.3060254 , 2309.17154436, 1872.36143322, 2719.08373208,
        356.28200204, 1845.28615832,  223.24884989,  134.37720383,
        146.23304774,  133.63757741,  478.04887701,  287.31587322,
        121.2204751 ,  171.21730632, 3313.62328979,  217.03104105,
        168.54042051,  151.08411118,  433.62009682, 1634.22580897,
        148.7602385 ,  145.26558452,  274.13653653, 1938.96014457,
        582.0446869 ,  244.32053075, 1760.53613278, 3021.50374644,
       1627.97067481,  192.60099163,  105.24587104, 1338.80684881,
       1314.74175361, 1635.75666589, 1902.99765873,  432.60903492,
        471.05150674, 2130.75814959, 2776.71592884,  862.21617732,
       3588.51175813,  217.68552766,  378.02625774,  389.87053566,
        188.80318888, 2835.74787829,  394.61630507, 1538.9311712 ,
       4331.89775315,  247.56139103, 1391.1521341 ,  192.04726846,
        197.02347315,  220.13728915, 1820.47830533, 1781.03657128,
        615.75377486, 1576.94825607,  381.67505317,  387.85069589,
       4624.36134715,  180.96551443, 1225.17734049,  529.47965468,
       1968.12418166,  448.95555799,  216.78706446,  199.81979232,
       1292.83166457,  920.27580254,  378.05529759,  144.20281214,
        344.26316314,  194.5540049 ,  213.18226535, 3416.19487836,
       1819.03951159, 1836.20209169,  183.68280803, 1921.21493253,
       1224.15292423,  966.68673469,  442.40828397, 3901.38035403,
       2907.39757411, 3253.82472725,  175.43264299, 4705.22704671,
       1797.95462445, 1931.08454401,  561.39650902, 1847.07970365,
       3067.25092001, 1924.67920435, 1835.18624373, 1612.06080467,
        174.02859958, 1148.80130858,  273.6547713 ,  329.06491682,
       2294.3196789 ,  294.61554386,  182.55245488,  138.54238657,
        673.26801268,  228.39927013, 1796.65841847, 2640.71314342,
        482.16008208,  261.04873578, 1628.60477204,  214.33464296,
       1916.00345015,  247.33730423,  119.53284577,  373.1416579 ,
       1310.52757307, 2181.70686614,  189.22604568, 1819.72996474,
        140.50258055, 1803.34239754,  203.59400237,  382.35677562,
       2702.88366638, 3100.41653668, 4178.37964955, 1548.92526128,
        417.87328024,  177.26211545, 1450.8889776 ,   83.59569693,
       1139.37732679,  148.28723584,  135.95981674, 1416.04682347,
        314.82129689, 2754.50271512,  204.68466512, 3996.89647302,
        271.46864262, 1982.89999427, 2635.16027852,  690.66936631,
       3030.35211255, 4399.9461278 ,  221.28979841,  249.55231104,
       1115.8861545 ,  147.34375913,  428.71548823, 1767.57837589,
       2281.50215554, 1242.80357455,  152.76194902, 3966.11471628,
        175.99517901,  136.27964128, 1172.68624433,  437.27765546,
        176.90978071,  176.74696874,  176.42148387,  143.50316664,
        211.58886349,  175.54432622,  198.64000686,  183.98363204,
       4013.22381493, 1232.93208209, 2373.36509734,  549.85816201,
       1868.43330366, 3253.2212025 , 4385.09082711, 1231.02019498,
       3221.35275822,  142.43761525,  431.32511173, 2751.40799105,
       1805.98565361, 1567.52272494, 2709.09316273,  206.23718166,
        237.60198864,  590.87389146,  391.32075649, 1178.52941167,
        170.08444313, 3931.71287256,  142.0016067 , 1455.81598361,
        232.679074  ,  388.61590931, 3349.33752318,  268.99849676,
       1653.4841462 , 1677.4645546 ,  742.34229077,  148.10392152,
       1542.73640474,  140.55796556,  179.03248243,  390.94808447,
       4018.65443424, 2449.52680514,  151.73165922,  117.19668048,
        409.77069314,  448.54894613,  292.55782154, 1780.43795783,
        296.00829483, 1241.30949955, 1271.89537346, 1701.31692556,
       2062.95520262,  133.32532253, 2969.33699788,  206.47283976,
        100.88887418, 1235.49725429,  175.63363896, 1501.86893427,
       4623.23376297, 1447.03763549, 2587.65444358,  193.09116785,
        456.43985424, 1077.73211055,  142.45103491,  745.88000988,
        147.9918416 ,  849.1663974 ,  246.12263397,  212.82323381,
       1949.52130339,  199.49385247,  122.50076124, 1895.57274759,
       3794.72941093,  209.21978794,  127.35420346,  121.6326365 ,
       1720.94223305,  231.72038411, 1572.14273689, 2145.95821007,
        758.15227766, 1809.12372252, 1251.27423729, 1974.20200437,
       1848.02936743,  388.16546264, 2808.51361792,  218.34045858,
       1058.15181954, 1315.50146255,  596.30037604,  277.79626874,
       1968.51004774, 2881.63153202,  234.431836  ,  146.60188368,
       2155.82473806,  149.20792873,  477.78838547, 2218.52179865,
       1863.93358955,  524.98854963, 2026.99890599, 4093.87886893,
       2825.79532282,  252.31244554,  270.81699199,  215.78840899,
       3137.71206639,  180.77605351, 1562.23938702,  186.86383421,
       3395.77760538, 2997.8673753 , 3113.9410352 , 1603.30342048,
       1529.37804208,  204.22134595,  310.4776056 , 2114.28928148,
        345.6198099 ,  731.39091111,  283.21314414, 1678.25397298,
       2688.56332144,  377.98372967,  145.97237507, 4257.87029888,
       1256.81309198, 2434.11692015,  853.40639642,  222.2770898 ,
        373.27155858, 2303.23095857, 1796.01237899,  105.8792298 ,
       1331.23227658,  520.17693241,  772.61492812,  751.57859789,
        228.6761102 , 1088.80437334, 1762.37888051,  495.8399675 ,
        161.02917627, 3104.00480439,  216.09340613,  241.0609539 ,
       1292.72853242, 1353.59518883, 1210.52471866, 4296.00261182,
       2101.84898589,  217.63605227, 3309.50448733,  957.52479775,
       1676.9850492 ,  122.76073831,  364.81278003, 2685.37720052,
       1633.24188234, 3491.93587832, 2179.39188395,  229.21081458,
       1538.58245967,  250.05281675,  122.55115631, 2279.58164467,
        225.1826217 , 1215.11778192, 2546.67541998, 2546.77355491,
       1709.06399468,  204.82297882, 1786.89762771, 2480.80748514,
        186.17067919,  199.5463836 , 1842.33059088, 3070.5115151 ,
         89.83968205, 1208.62423862, 1873.6472248 ,  197.458096  ,
       1601.42298556,  291.47335739, 3934.17608904,  119.58467519,
        698.13307095,  391.09482458, 3071.03150936, 1669.25483194,
        933.5792897 ,  160.97917896, 1240.66439454, 1906.72698351,
       1200.87765916,  170.93526728, 1631.47341644,  284.50364956,
        169.33000629, 2579.19778053,  218.7390856 ,  127.16819437,
        131.02174053, 2496.51717794, 1217.9701174 ,  763.63018806,
       1492.64605489, 1826.62391941,  138.23356347,  431.78158251,
       1316.69001832,  660.36539477, 4387.64143445,  105.66105811,
        432.84689913, 1675.69734753,  459.27364833, 2915.97384706,
       1116.71940664, 2835.13582748, 1345.23143275, 1340.62937297,
       1685.5701674 ,  130.77753381, 1222.06615868,  166.35391173,
        241.62583426,  204.27499537,  195.80893031, 3877.50086962,
        574.19502005,  243.48841869,  112.47949731,  152.07675565,
        340.32214516,  465.26148926,  141.66975894,  146.84872012,
        158.12094694, 1638.56756497,  160.60483084, 2684.27597651,
        292.02296729,  877.46332838, 1584.66759744, 2987.68107955,
        226.08915222,  537.81406839,  189.10892613,  595.89107995,
        485.84367869,  179.54640246,  227.85717025,  367.39420088,
        311.37482666, 1212.96906067, 3884.92561331,  147.57829907,
        411.55854714, 1850.33257069, 3400.78138542,  603.67066336,
       2975.4314057 ,  484.25043128, 2702.32188289,  268.33220307,
       1575.11058732,  232.11039883, 1572.07136659,  111.87877222,
       3926.09529421,  228.19827341,  219.3203495 , 3267.1815362 ,
       1536.88842088,  135.49885023, 1199.41086545,  237.42580588,
        324.58253449,  188.40376123,  199.63915999,  140.9830594 ,
       2231.66476547,  269.96677864,  191.2683857 , 4110.78873323,
        852.90474316, 1770.63145334,  850.75867551, 1902.44660592,
       4060.37653069,  206.36685479,  206.02568276, 1140.37202333,
        191.54880095, 1286.75231088,  270.80475819, 1609.58911485,
        140.91224036, 2038.17952127, 1084.53235668,  147.26964141,
       1800.23400339,  271.90912303,  179.53641337, 1581.9644823 ,
        242.06668925,  670.0143801 , 4103.61601707, 1817.87211958,
       1523.20639311,  210.56000917, 2378.98800825, 1697.61776795,
        313.03716716,  533.17256009,  115.14189825,  201.8505626 ,
       1136.27354422, 1906.13318946, 2072.37308144,  137.42647746,
       1326.91190287])

In [19]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([ 188.3060254 , 2309.17154436, 1872.36143322, 2719.08373208,
        356.28200204, 1845.28615832,  223.24884989,  134.37720383,
        146.23304774,  133.63757741,  478.04887701,  287.31587322,
        121.2204751 ,  171.21730632, 3313.62328979,  217.03104105,
        168.54042051,  151.08411118,  433.62009682, 1634.22580897,
        148.7602385 ,  145.26558452,  274.13653653, 1938.96014457,
        582.0446869 ,  244.32053075, 1760.53613278, 3021.50374644,
       1627.97067481,  192.60099163,  105.24587104, 1338.80684881,
       1314.74175361, 1635.75666589, 1902.99765873,  432.60903492,
        471.05150674, 2130.75814959, 2776.71592884,  862.21617732,
       3588.51175813,  217.68552766,  378.02625774,  389.87053566,
        188.80318888, 2835.74787829,  394.61630507, 1538.9311712 ,
       4331.89775315,  247.56139103, 1391.1521341 ,  192.04726846,
        197.02347315,  220.13728915, 1820.47830533, 1781.03657128,
        615.75377486, 1576.94825607,  381.67505317,  387.85069589,
       4624.36134715,  180.96551443, 1225.17734049,  529.47965468,
       1968.12418166,  448.95555799,  216.78706446,  199.81979232,
       1292.83166457,  920.27580254,  378.05529759,  144.20281214,
        344.26316314,  194.5540049 ,  213.18226535, 3416.19487836,
       1819.03951159, 1836.20209169,  183.68280803, 1921.21493253,
       1224.15292423,  966.68673469,  442.40828397, 3901.38035403,
       2907.39757411, 3253.82472725,  175.43264299, 4705.22704671,
       1797.95462445, 1931.08454401,  561.39650902, 1847.07970365,
       3067.25092001, 1924.67920435, 1835.18624373, 1612.06080467,
        174.02859958, 1148.80130858,  273.6547713 ,  329.06491682,
       2294.3196789 ,  294.61554386,  182.55245488,  138.54238657,
        673.26801268,  228.39927013, 1796.65841847, 2640.71314342,
        482.16008208,  261.04873578, 1628.60477204,  214.33464296,
       1916.00345015,  247.33730423,  119.53284577,  373.1416579 ,
       1310.52757307, 2181.70686614,  189.22604568, 1819.72996474,
        140.50258055, 1803.34239754,  203.59400237,  382.35677562,
       2702.88366638, 3100.41653668, 4178.37964955, 1548.92526128,
        417.87328024,  177.26211545, 1450.8889776 ,   83.59569693,
       1139.37732679,  148.28723584,  135.95981674, 1416.04682347,
        314.82129689, 2754.50271512,  204.68466512, 3996.89647302,
        271.46864262, 1982.89999427, 2635.16027852,  690.66936631,
       3030.35211255, 4399.9461278 ,  221.28979841,  249.55231104,
       1115.8861545 ,  147.34375913,  428.71548823, 1767.57837589,
       2281.50215554, 1242.80357455,  152.76194902, 3966.11471628,
        175.99517901,  136.27964128, 1172.68624433,  437.27765546,
        176.90978071,  176.74696874,  176.42148387,  143.50316664,
        211.58886349,  175.54432622,  198.64000686,  183.98363204,
       4013.22381493, 1232.93208209, 2373.36509734,  549.85816201,
       1868.43330366, 3253.2212025 , 4385.09082711, 1231.02019498,
       3221.35275822,  142.43761525,  431.32511173, 2751.40799105,
       1805.98565361, 1567.52272494, 2709.09316273,  206.23718166,
        237.60198864,  590.87389146,  391.32075649, 1178.52941167,
        170.08444313, 3931.71287256,  142.0016067 , 1455.81598361,
        232.679074  ,  388.61590931, 3349.33752318,  268.99849676,
       1653.4841462 , 1677.4645546 ,  742.34229077,  148.10392152,
       1542.73640474,  140.55796556,  179.03248243,  390.94808447,
       4018.65443424, 2449.52680514,  151.73165922,  117.19668048,
        409.77069314,  448.54894613,  292.55782154, 1780.43795783,
        296.00829483, 1241.30949955, 1271.89537346, 1701.31692556,
       2062.95520262,  133.32532253, 2969.33699788,  206.47283976,
        100.88887418, 1235.49725429,  175.63363896, 1501.86893427,
       4623.23376297, 1447.03763549, 2587.65444358,  193.09116785,
        456.43985424, 1077.73211055,  142.45103491,  745.88000988,
        147.9918416 ,  849.1663974 ,  246.12263397,  212.82323381,
       1949.52130339,  199.49385247,  122.50076124, 1895.57274759,
       3794.72941093,  209.21978794,  127.35420346,  121.6326365 ,
       1720.94223305,  231.72038411, 1572.14273689, 2145.95821007,
        758.15227766, 1809.12372252, 1251.27423729, 1974.20200437,
       1848.02936743,  388.16546264, 2808.51361792,  218.34045858,
       1058.15181954, 1315.50146255,  596.30037604,  277.79626874,
       1968.51004774, 2881.63153202,  234.431836  ,  146.60188368,
       2155.82473806,  149.20792873,  477.78838547, 2218.52179865,
       1863.93358955,  524.98854963, 2026.99890599, 4093.87886893,
       2825.79532282,  252.31244554,  270.81699199,  215.78840899,
       3137.71206639,  180.77605351, 1562.23938702,  186.86383421,
       3395.77760538, 2997.8673753 , 3113.9410352 , 1603.30342048,
       1529.37804208,  204.22134595,  310.4776056 , 2114.28928148,
        345.6198099 ,  731.39091111,  283.21314414, 1678.25397298,
       2688.56332144,  377.98372967,  145.97237507, 4257.87029888,
       1256.81309198, 2434.11692015,  853.40639642,  222.2770898 ,
        373.27155858, 2303.23095857, 1796.01237899,  105.8792298 ,
       1331.23227658,  520.17693241,  772.61492812,  751.57859789,
        228.6761102 , 1088.80437334, 1762.37888051,  495.8399675 ,
        161.02917627, 3104.00480439,  216.09340613,  241.0609539 ,
       1292.72853242, 1353.59518883, 1210.52471866, 4296.00261182,
       2101.84898589,  217.63605227, 3309.50448733,  957.52479775,
       1676.9850492 ,  122.76073831,  364.81278003, 2685.37720052,
       1633.24188234, 3491.93587832, 2179.39188395,  229.21081458,
       1538.58245967,  250.05281675,  122.55115631, 2279.58164467,
        225.1826217 , 1215.11778192, 2546.67541998, 2546.77355491,
       1709.06399468,  204.82297882, 1786.89762771, 2480.80748514,
        186.17067919,  199.5463836 , 1842.33059088, 3070.5115151 ,
         89.83968205, 1208.62423862, 1873.6472248 ,  197.458096  ,
       1601.42298556,  291.47335739, 3934.17608904,  119.58467519,
        698.13307095,  391.09482458, 3071.03150936, 1669.25483194,
        933.5792897 ,  160.97917896, 1240.66439454, 1906.72698351,
       1200.87765916,  170.93526728, 1631.47341644,  284.50364956,
        169.33000629, 2579.19778053,  218.7390856 ,  127.16819437,
        131.02174053, 2496.51717794, 1217.9701174 ,  763.63018806,
       1492.64605489, 1826.62391941,  138.23356347,  431.78158251,
       1316.69001832,  660.36539477, 4387.64143445,  105.66105811,
        432.84689913, 1675.69734753,  459.27364833, 2915.97384706,
       1116.71940664, 2835.13582748, 1345.23143275, 1340.62937297,
       1685.5701674 ,  130.77753381, 1222.06615868,  166.35391173,
        241.62583426,  204.27499537,  195.80893031, 3877.50086962,
        574.19502005,  243.48841869,  112.47949731,  152.07675565,
        340.32214516,  465.26148926,  141.66975894,  146.84872012,
        158.12094694, 1638.56756497,  160.60483084, 2684.27597651,
        292.02296729,  877.46332838, 1584.66759744, 2987.68107955,
        226.08915222,  537.81406839,  189.10892613,  595.89107995,
        485.84367869,  179.54640246,  227.85717025,  367.39420088,
        311.37482666, 1212.96906067, 3884.92561331,  147.57829907,
        411.55854714, 1850.33257069, 3400.78138542,  603.67066336,
       2975.4314057 ,  484.25043128, 2702.32188289,  268.33220307,
       1575.11058732,  232.11039883, 1572.07136659,  111.87877222,
       3926.09529421,  228.19827341,  219.3203495 , 3267.1815362 ,
       1536.88842088,  135.49885023, 1199.41086545,  237.42580588,
        324.58253449,  188.40376123,  199.63915999,  140.9830594 ,
       2231.66476547,  269.96677864,  191.2683857 , 4110.78873323,
        852.90474316, 1770.63145334,  850.75867551, 1902.44660592,
       4060.37653069,  206.36685479,  206.02568276, 1140.37202333,
        191.54880095, 1286.75231088,  270.80475819, 1609.58911485,
        140.91224036, 2038.17952127, 1084.53235668,  147.26964141,
       1800.23400339,  271.90912303,  179.53641337, 1581.9644823 ,
        242.06668925,  670.0143801 , 4103.61601707, 1817.87211958,
       1523.20639311,  210.56000917, 2378.98800825, 1697.61776795,
        313.03716716,  533.17256009,  115.14189825,  201.8505626 ,
       1136.27354422, 1906.13318946, 2072.37308144,  137.42647746,
       1326.91190287])

In [29]:
from joblib import load
noodle = load("../../Webapp/ml/regressors/regressor_eth.joblib")
noodle

LinearRegression()

In [28]:
pred1 = noodle.predict(X_test.iloc[[0]])
noodle.predict()
# print(X_test.iloc[[2]])
print(pred1)

[188.3060254]