In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("ADA-USD.csv")
adaDF = pd.read_csv(file_path)

# Display sample data
adaDF.head() 

# Review the DataFrame
adaDF

            Date      Open      High       Low     Close  Adj Close     Volume
0     2018-01-01  0.718847  0.730051  0.671941  0.728657   0.728657  150186000
1     2018-01-02  0.724676  0.794646  0.697856  0.782587   0.782587  289712000
2     2018-01-03  0.779681  1.085670  0.778578  1.079660   1.079660  657398016
3     2018-01-04  1.094030  1.327210  1.037650  1.114120   1.114120  593430016
4     2018-01-05  1.171150  1.252420  0.903503  0.999559   0.999559  508100000
...          ...       ...       ...       ...       ...        ...        ...
1966  2023-05-21  0.366352  0.367398  0.358336  0.360363   0.360363  116595379
1967  2023-05-22  0.360382  0.373213  0.357263  0.367997   0.367997  177956408
1968  2023-05-23  0.368004  0.375178  0.366596  0.370484   0.370484  141912382
1969  2023-05-24  0.370500  0.370566  0.360984  0.364234   0.364234  175329362
1970  2023-05-25  0.364426  0.364431  0.355889  0.358662   0.358662  155583904

[1971 rows x 7 columns]

In [3]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1971 non-null   object
 1   Open       1971 non-null   float64
 2   High       1971 non-null   float64
 3   Low        1971 non-null   float64
 4   Close      1971 non-null   float64
 5   Adj Close  1971 non-null   float64
 6   Volume     1971 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 107.9+ KB

In [4]:
# Convert 'date' column to datetime
adaDF['Date'] = pd.to_datetime(adaDF['Date'])

# Extract year, month, and day into separate columns
adaDF['year'] = adaDF['Date'].dt.year.astype(int)
adaDF['month'] = adaDF['Date'].dt.month.astype(int)
adaDF['day'] = adaDF['Date'].dt.day.astype(int)

adaDF.set_index("Date", inplace=True)

# Display the updated DataFrame
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24
2023-05-25,0.364426,0.364431,0.355889,0.358662,0.358662,155583904,2023,5,25

In [5]:
adaDF["TomorrowClose"] = adaDF["Close"].shift(-1)
adaDF.dropna(inplace=True)
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1,0.782587
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2,1.079660
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3,1.114120
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4,0.999559
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5,1.027150
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,0.368242,0.368382,0.364512,0.366357,0.366357,118748065,2023,5,20,0.360363
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21,0.367997
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22,0.370484
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23,0.364234
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24,0.358662

In [6]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1970 entries, 2018-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           1970 non-null   float64
 1   High           1970 non-null   float64
 2   Low            1970 non-null   float64
 3   Close          1970 non-null   float64
 4   Adj Close      1970 non-null   float64
 5   Volume         1970 non-null   int64
 6   year           1970 non-null   int64
 7   month          1970 non-null   int64
 8   day            1970 non-null   int64
 9   TomorrowClose  1970 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 169.3 KB

In [7]:
# Separate the data into labels and features

y = adaDF["TomorrowClose"]
X = adaDF.drop(columns=["TomorrowClose"])

In [8]:
# Review the y variable Series
y

Date
2018-01-01    0.782587
2018-01-02    1.079660
2018-01-03    1.114120
2018-01-04    0.999559
2018-01-05    1.027150
                ...
2023-05-20    0.360363
2023-05-21    0.367997
2023-05-22    0.370484
2023-05-23    0.364234
2023-05-24    0.358662
Name: TomorrowClose, Length: 1970, dtype: float64

In [9]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,0.718847,0.730051,0.671941,0.728657,0.728657,150186000,2018,1,1
2018-01-02,0.724676,0.794646,0.697856,0.782587,0.782587,289712000,2018,1,2
2018-01-03,0.779681,1.085670,0.778578,1.079660,1.079660,657398016,2018,1,3
2018-01-04,1.094030,1.327210,1.037650,1.114120,1.114120,593430016,2018,1,4
2018-01-05,1.171150,1.252420,0.903503,0.999559,0.999559,508100000,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,0.368242,0.368382,0.364512,0.366357,0.366357,118748065,2023,5,20
2023-05-21,0.366352,0.367398,0.358336,0.360363,0.360363,116595379,2023,5,21
2023-05-22,0.360382,0.373213,0.357263,0.367997,0.367997,177956408,2023,5,22
2023-05-23,0.368004,0.375178,0.366596,0.370484,0.370484,141912382,2023,5,23
2023-05-24,0.370500,0.370566,0.360984,0.364234,0.364234,175329362,2023,5,24

In [10]:
# Check the balance of our target values
y.value_counts()

0.041672    2
0.044990    2
0.044777    2
0.059944    2
0.782587    1
           ..
0.039280    1
0.039529    1
0.039225    1
0.038073    1
0.358662    1
Name: TomorrowClose, Length: 1966, dtype: int64

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [12]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [13]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2020-03-26,0.029438,0.030742,0.029351,0.030727,0.030727,81633746,2020,3,26
2018-09-28,0.086403,0.088327,0.082045,0.084032,0.084032,89113600,2018,9,28
2022-11-22,0.304524,0.315869,0.299104,0.311922,0.311922,303965817,2022,11,22
2023-05-15,0.370787,0.375465,0.367480,0.367482,0.367482,176627170,2023,5,15
2019-09-01,0.044952,0.045357,0.043729,0.044543,0.044543,31928555,2019,9,1
...,...,...,...,...,...,...,...,...,...
2022-11-27,0.313793,0.319191,0.312288,0.312454,0.312454,167898046,2022,11,27
2021-01-01,0.181382,0.184246,0.172022,0.175350,0.175350,1122218004,2021,1,1
2023-04-17,0.451758,0.451758,0.433168,0.434167,0.434167,467653074,2023,4,17
2018-08-24,0.092846,0.094363,0.090948,0.094077,0.094077,35302400,2018,8,24
2020-11-27,0.138292,0.144637,0.131366,0.141028,0.141028,1505708870,2020,11,27

In [14]:
# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 0.0024584120226889966
R^2 Score: 0.9933746194984082

In [37]:
print("Cardano (ADA)")
highest_value = adaDF['High'].max()
highest_date = adaDF.loc[adaDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = adaDF['High'].min()
lowest_date = adaDF.loc[adaDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Cardano (ADA)
Highest Value: $ 3.1 on 9/2/2021
Lowest Value: $ 0.03 on 3/18/2020

In [16]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 3.720e+04
Date:                Fri, 02 Jun 2023   Prob (F-statistic):               0.00
Time:                        15:30:28   Log-Likelihood:                 2468.4
No. Observations:                1477   AIC:                            -4921.
Df Residuals:                    1469   BIC:                            -4878.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.1582      0.048      3.285      0.001       0.064       0.253
High          -0.0480      0.071     -0.676      0.499      -0.187       0.091
Low           -0.1576      0.046     -3.439      0.001      -0.247      -0.068
Close          0.5182      0.032     16.130      0.000       0.455       0.581
Adj Close      0.5182      0.032     16.130      0.000       0.455       0.581
Volume      3.214e-13   1.07e-12      0.301      0.763   -1.77e-12    2.41e-12
year        1.549e-06   1.67e-06      0.927      0.354   -1.73e-06    4.83e-06
month         -0.0001      0.000     -0.372      0.710      -0.001       0.001
day        -3.291e-05      0.000     -0.241      0.809      -0.000       0.000
==============================================================================
Omnibus:                      404.474   Durbin-Watson:                   1.950
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            33899.767
Skew:                           0.114   Prob(JB):                         0.00
Kurtosis:                      26.469   Cond. No.                     3.59e+24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.2e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
y_test

Date
2019-11-12    0.043492
2021-04-25    1.234019
2021-03-09    1.135003
2021-06-04    1.659009
2020-10-05    0.092808
                ...
2018-01-20    0.613163
2021-06-21    1.153254
2022-05-11    0.473746
2019-03-09    0.045698
2022-09-22    0.461821
Name: TomorrowClose, Length: 493, dtype: float64

In [18]:
y_pred

array([0.04415345, 1.08890645, 1.18550886, 1.72630152, 0.09876228,
       1.24582735, 0.08391498, 0.04849961, 0.03194427, 0.04438658,
       0.10673157, 0.09968582, 0.04428348, 0.04362076, 2.40978485,
       0.05986891, 0.03697927, 0.04653831, 0.14120107, 0.39583945,
       0.0393381 , 0.07199668, 0.08783022, 0.51312637, 0.15705049,
       0.12113301, 0.53487398, 1.42133157, 0.37070576, 0.07021873,
       0.04011769, 0.44768844, 0.31865788, 0.51452656, 0.40987661,
       0.13592828, 0.14583735, 1.33593597, 0.99253538, 0.3372788 ,
       2.20562604, 0.08031628, 0.09076689, 0.10399437, 0.04762399,
       1.82666349, 0.09634008, 0.37075572, 1.94618328, 0.08595713,
       0.36317726, 0.0497734 , 0.07197349, 0.05847882, 0.39937802,
       1.04137346, 0.28244032, 0.50230484, 0.09799946, 0.1464184 ,
       2.0239018 , 0.03608221, 0.30673152, 0.18047749, 0.92446581,
       0.14140795, 0.05858903, 0.04959084, 0.32051042, 0.38540813,
       0.10751606, 0.03463528, 0.09481329, 0.04958919, 0.05733396,
       2.18485776, 1.25713811, 0.58590987, 0.04317417, 0.5121154 ,
       0.44230489, 0.41479703, 0.12582423, 1.21478556, 1.05594294,
       2.92063321, 0.03903522, 2.06672818, 0.3852082 , 0.56739128,
       0.26996234, 0.92743805, 0.93196808, 1.11515648, 0.6174177 ,
       0.50013254, 0.04535181, 0.31453524, 0.09324788, 0.0783189 ,
       1.39015918, 0.08253577, 0.04280885, 0.03341507, 0.35780558,
       0.06215736, 1.24194349, 0.76150853, 0.19985002, 0.09685858,
       0.39243446, 0.07998283, 1.09917085, 0.08516253, 0.04365977,
       0.09826005, 0.43031813, 1.24188674, 0.04247695, 0.485204  ,
       0.06242281, 0.3639639 , 0.07253133, 0.14441467, 0.7820671 ,
       1.34370863, 1.75432941, 1.20607319, 0.10864655, 0.0450114 ,
       0.34824717, 0.02767113, 0.49360213, 0.03905792, 0.04428598,
       0.38077581, 0.11157473, 0.83373268, 0.0750534 , 1.26908282,
       0.0667099 , 0.56830708, 0.8654505 , 0.24365319, 1.1025377 ,
       1.90066574, 0.06928252, 0.08417275, 0.4392764 , 0.04415541,
       0.12675308, 0.50904676, 1.38298954, 0.3204173 , 0.03646551,
       1.31375398, 0.04048411, 0.03281396, 0.2695784 , 0.13881937,
       0.04691993, 0.09019677, 0.03781028, 0.03134684, 0.0487545 ,
       0.04774933, 0.04749591, 0.0543218 , 1.49511208, 0.48622926,
       1.47679632, 0.15591912, 0.52979374, 1.27520562, 1.43104817,
       0.26611208, 2.41635012, 0.05313197, 0.12848763, 1.55456985,
       0.38937714, 0.45449147, 1.73369235, 0.05260043, 0.08487809,
       0.15494517, 0.09892882, 0.30822263, 0.03735279, 1.23642584,
       0.04384151, 0.47887358, 0.07961258, 0.10864114, 1.2942429 ,
       0.05984889, 0.4421347 , 1.11312959, 0.34074322, 0.03485098,
       0.44538348, 0.03140889, 0.03939202, 0.11148221, 1.30812546,
       1.52191944, 0.04496093, 0.04179259, 0.10341368, 0.10705771,
       0.08448181, 0.56335315, 0.08930419, 0.33406116, 0.81691569,
       0.53664802, 0.5430328 , 0.03429575, 2.07980405, 0.04358989,
       0.03399867, 0.34673113, 0.06072684, 0.4275694 , 2.12171978,
       0.40110596, 1.0514034 , 0.05025301, 0.16774289, 0.48117641,
       0.03206278, 0.19220234, 0.03855813, 0.29226608, 0.12685992,
       0.05348696, 0.62044393, 0.06857747, 0.04076973, 1.16334231,
       2.9317474 , 0.05426059, 0.04359041, 0.04277452, 1.17118621,
       0.08113708, 0.40521728, 1.34195654, 0.33487289, 1.19159451,
       0.27073667, 0.52693869, 0.36570007, 0.15249623, 0.83162365,
       0.05213947, 0.44899077, 0.31422514, 0.20403874, 0.09303285,
       0.51402024, 1.76473878, 0.06046071, 0.03937851, 1.25737257,
       0.04964018, 0.10722875, 1.3976196 , 0.39353779, 0.18715072,
       1.17690742, 1.46298924, 0.80543475, 0.08120326, 0.08980399,
       0.05541775, 1.65907936, 0.04243667, 0.40313652, 0.0438376 ,
       2.23058908, 2.09179467, 1.17616493, 0.44491685, 0.45188884,
       0.05327909, 0.09405919, 1.20753555, 0.09549442, 0.27351043,
       0.09414219, 0.40151879, 1.02824781, 0.15534998, 0.03726449,
       1.84923572, 0.89297611, 1.04475104, 0.34265376, 0.08058318,
       0.10694721, 1.40458163, 0.36710087, 0.0390607 , 0.44247268,
       0.25712291, 0.18022162, 0.25062445, 0.04900085, 0.46170574,
       0.4644608 , 0.15944803, 0.04905982, 2.54030515, 0.05977316,
       0.08270745, 0.31877099, 0.35840988, 0.326675  , 1.37292225,
       0.44454126, 0.07842493, 1.16049944, 1.10220406, 0.32771877,
       0.02798811, 0.10197178, 1.73612631, 0.37712629, 2.20959781,
       1.19882119, 0.08835714, 0.55273901, 0.0854698 , 0.04516091,
       1.4035911 , 0.08555778, 0.25633119, 1.04644038, 0.78724955,
       0.50159436, 0.07143687, 0.38216365, 1.53123926, 0.04396233,
       0.06810257, 0.37243141, 1.14770395, 0.03030483, 0.31624301,
       0.397997  , 0.06360667, 1.09326949, 0.0723543 , 1.65971917,
       0.04323699, 0.24646565, 0.09258795, 2.20426993, 0.57868722,
       0.38653777, 0.06953189, 0.38083416, 0.39866094, 0.24709046,
       0.07344867, 0.98497305, 0.07885383, 0.04518782, 0.79982878,
       0.05415095, 0.04526436, 0.03596118, 1.55530338, 0.3095153 ,
       0.72784266, 1.22929829, 0.36952866, 0.04068913, 0.14233822,
       0.36313606, 0.29229499, 1.98986978, 0.03871719, 0.11802139,
       0.51531082, 0.16215174, 0.89218167, 0.52051299, 0.90322125,
       0.45093162, 0.46140265, 0.62742308, 0.03432521, 0.33388856,
       0.0378583 , 0.13158936, 0.07453574, 0.07180369, 1.20812567,
       0.19126358, 0.13301739, 0.03559147, 0.04822372, 0.14094746,
       0.10563042, 0.03109237, 0.04666894, 0.04044053, 0.40148264,
       0.06934808, 1.0501167 , 0.07330027, 0.388955  , 0.51197664,
       0.91464226, 0.06166545, 0.2038285 , 0.04450228, 0.14038013,
       0.21048365, 0.03977359, 0.05116945, 0.10321815, 0.10852339,
       0.25730445, 1.93161336, 0.03726341, 0.10706221, 1.20261484,
       2.33122203, 0.16013389, 2.09285188, 0.1102652 , 1.04754316,
       0.08937151, 0.34799024, 0.06366749, 0.4016444 , 0.04128285,
       2.81387894, 0.05926993, 0.05327445, 2.23784284, 1.12485464,
       0.04838595, 0.48795937, 0.12805848, 0.14104045, 0.07168712,
       0.06837273, 0.06414614, 1.09733448, 0.0923529 , 0.05911664,
       2.11525435, 0.39949569, 0.35742631, 0.31088811, 0.38355095,
       1.52828932, 0.04734178, 0.06903776, 0.47883457, 0.04719709,
       0.29816578, 0.08604267, 0.35527148, 0.05103475, 0.54096337,
       0.48565863, 0.03873431, 0.87510283, 0.06772437, 0.08830312,
       0.50051722, 0.08065368, 0.34215946, 2.1094931 , 0.3723996 ,
       0.38922061, 0.0534211 , 1.56725836, 1.20197711, 0.08083498,
       0.16525329, 0.03847785, 0.05344444, 0.69997724, 1.19657521,
       0.52864569, 0.04760132, 0.4582195 ])

In [19]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([0.04415345, 1.08890645, 1.18550886, 1.72630152, 0.09876228,
       1.24582735, 0.08391498, 0.04849961, 0.03194427, 0.04438658,
       0.10673157, 0.09968582, 0.04428348, 0.04362076, 2.40978485,
       0.05986891, 0.03697927, 0.04653831, 0.14120107, 0.39583945,
       0.0393381 , 0.07199668, 0.08783022, 0.51312637, 0.15705049,
       0.12113301, 0.53487398, 1.42133157, 0.37070576, 0.07021873,
       0.04011769, 0.44768844, 0.31865788, 0.51452656, 0.40987661,
       0.13592828, 0.14583735, 1.33593597, 0.99253538, 0.3372788 ,
       2.20562604, 0.08031628, 0.09076689, 0.10399437, 0.04762399,
       1.82666349, 0.09634008, 0.37075572, 1.94618328, 0.08595713,
       0.36317726, 0.0497734 , 0.07197349, 0.05847882, 0.39937802,
       1.04137346, 0.28244032, 0.50230484, 0.09799946, 0.1464184 ,
       2.0239018 , 0.03608221, 0.30673152, 0.18047749, 0.92446581,
       0.14140795, 0.05858903, 0.04959084, 0.32051042, 0.38540813,
       0.10751606, 0.03463528, 0.09481329, 0.04958919, 0.05733396,
       2.18485776, 1.25713811, 0.58590987, 0.04317417, 0.5121154 ,
       0.44230489, 0.41479703, 0.12582423, 1.21478556, 1.05594294,
       2.92063321, 0.03903522, 2.06672818, 0.3852082 , 0.56739128,
       0.26996234, 0.92743805, 0.93196808, 1.11515648, 0.6174177 ,
       0.50013254, 0.04535181, 0.31453524, 0.09324788, 0.0783189 ,
       1.39015918, 0.08253577, 0.04280885, 0.03341507, 0.35780558,
       0.06215736, 1.24194349, 0.76150853, 0.19985002, 0.09685858,
       0.39243446, 0.07998283, 1.09917085, 0.08516253, 0.04365977,
       0.09826005, 0.43031813, 1.24188674, 0.04247695, 0.485204  ,
       0.06242281, 0.3639639 , 0.07253133, 0.14441467, 0.7820671 ,
       1.34370863, 1.75432941, 1.20607319, 0.10864655, 0.0450114 ,
       0.34824717, 0.02767113, 0.49360213, 0.03905792, 0.04428598,
       0.38077581, 0.11157473, 0.83373268, 0.0750534 , 1.26908282,
       0.0667099 , 0.56830708, 0.8654505 , 0.24365319, 1.1025377 ,
       1.90066574, 0.06928252, 0.08417275, 0.4392764 , 0.04415541,
       0.12675308, 0.50904676, 1.38298954, 0.3204173 , 0.03646551,
       1.31375398, 0.04048411, 0.03281396, 0.2695784 , 0.13881937,
       0.04691993, 0.09019677, 0.03781028, 0.03134684, 0.0487545 ,
       0.04774933, 0.04749591, 0.0543218 , 1.49511208, 0.48622926,
       1.47679632, 0.15591912, 0.52979374, 1.27520562, 1.43104817,
       0.26611208, 2.41635012, 0.05313197, 0.12848763, 1.55456985,
       0.38937714, 0.45449147, 1.73369235, 0.05260043, 0.08487809,
       0.15494517, 0.09892882, 0.30822263, 0.03735279, 1.23642584,
       0.04384151, 0.47887358, 0.07961258, 0.10864114, 1.2942429 ,
       0.05984889, 0.4421347 , 1.11312959, 0.34074322, 0.03485098,
       0.44538348, 0.03140889, 0.03939202, 0.11148221, 1.30812546,
       1.52191944, 0.04496093, 0.04179259, 0.10341368, 0.10705771,
       0.08448181, 0.56335315, 0.08930419, 0.33406116, 0.81691569,
       0.53664802, 0.5430328 , 0.03429575, 2.07980405, 0.04358989,
       0.03399867, 0.34673113, 0.06072684, 0.4275694 , 2.12171978,
       0.40110596, 1.0514034 , 0.05025301, 0.16774289, 0.48117641,
       0.03206278, 0.19220234, 0.03855813, 0.29226608, 0.12685992,
       0.05348696, 0.62044393, 0.06857747, 0.04076973, 1.16334231,
       2.9317474 , 0.05426059, 0.04359041, 0.04277452, 1.17118621,
       0.08113708, 0.40521728, 1.34195654, 0.33487289, 1.19159451,
       0.27073667, 0.52693869, 0.36570007, 0.15249623, 0.83162365,
       0.05213947, 0.44899077, 0.31422514, 0.20403874, 0.09303285,
       0.51402024, 1.76473878, 0.06046071, 0.03937851, 1.25737257,
       0.04964018, 0.10722875, 1.3976196 , 0.39353779, 0.18715072,
       1.17690742, 1.46298924, 0.80543475, 0.08120326, 0.08980399,
       0.05541775, 1.65907936, 0.04243667, 0.40313652, 0.0438376 ,
       2.23058908, 2.09179467, 1.17616493, 0.44491685, 0.45188884,
       0.05327909, 0.09405919, 1.20753555, 0.09549442, 0.27351043,
       0.09414219, 0.40151879, 1.02824781, 0.15534998, 0.03726449,
       1.84923572, 0.89297611, 1.04475104, 0.34265376, 0.08058318,
       0.10694721, 1.40458163, 0.36710087, 0.0390607 , 0.44247268,
       0.25712291, 0.18022162, 0.25062445, 0.04900085, 0.46170574,
       0.4644608 , 0.15944803, 0.04905982, 2.54030515, 0.05977316,
       0.08270745, 0.31877099, 0.35840988, 0.326675  , 1.37292225,
       0.44454126, 0.07842493, 1.16049944, 1.10220406, 0.32771877,
       0.02798811, 0.10197178, 1.73612631, 0.37712629, 2.20959781,
       1.19882119, 0.08835714, 0.55273901, 0.0854698 , 0.04516091,
       1.4035911 , 0.08555778, 0.25633119, 1.04644038, 0.78724955,
       0.50159436, 0.07143687, 0.38216365, 1.53123926, 0.04396233,
       0.06810257, 0.37243141, 1.14770395, 0.03030483, 0.31624301,
       0.397997  , 0.06360667, 1.09326949, 0.0723543 , 1.65971917,
       0.04323699, 0.24646565, 0.09258795, 2.20426993, 0.57868722,
       0.38653777, 0.06953189, 0.38083416, 0.39866094, 0.24709046,
       0.07344867, 0.98497305, 0.07885383, 0.04518782, 0.79982878,
       0.05415095, 0.04526436, 0.03596118, 1.55530338, 0.3095153 ,
       0.72784266, 1.22929829, 0.36952866, 0.04068913, 0.14233822,
       0.36313606, 0.29229499, 1.98986978, 0.03871719, 0.11802139,
       0.51531082, 0.16215174, 0.89218167, 0.52051299, 0.90322125,
       0.45093162, 0.46140265, 0.62742308, 0.03432521, 0.33388856,
       0.0378583 , 0.13158936, 0.07453574, 0.07180369, 1.20812567,
       0.19126358, 0.13301739, 0.03559147, 0.04822372, 0.14094746,
       0.10563042, 0.03109237, 0.04666894, 0.04044053, 0.40148264,
       0.06934808, 1.0501167 , 0.07330027, 0.388955  , 0.51197664,
       0.91464226, 0.06166545, 0.2038285 , 0.04450228, 0.14038013,
       0.21048365, 0.03977359, 0.05116945, 0.10321815, 0.10852339,
       0.25730445, 1.93161336, 0.03726341, 0.10706221, 1.20261484,
       2.33122203, 0.16013389, 2.09285188, 0.1102652 , 1.04754316,
       0.08937151, 0.34799024, 0.06366749, 0.4016444 , 0.04128285,
       2.81387894, 0.05926993, 0.05327445, 2.23784284, 1.12485464,
       0.04838595, 0.48795937, 0.12805848, 0.14104045, 0.07168712,
       0.06837273, 0.06414614, 1.09733448, 0.0923529 , 0.05911664,
       2.11525435, 0.39949569, 0.35742631, 0.31088811, 0.38355095,
       1.52828932, 0.04734178, 0.06903776, 0.47883457, 0.04719709,
       0.29816578, 0.08604267, 0.35527148, 0.05103475, 0.54096337,
       0.48565863, 0.03873431, 0.87510283, 0.06772437, 0.08830312,
       0.50051722, 0.08065368, 0.34215946, 2.1094931 , 0.3723996 ,
       0.38922061, 0.0534211 , 1.56725836, 1.20197711, 0.08083498,
       0.16525329, 0.03847785, 0.05344444, 0.69997724, 1.19657521,
       0.52864569, 0.04760132, 0.4582195 ])