In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
file_path = Path("USDT-USD.csv")
adaDF = pd.read_csv(file_path)

# Display sample data
adaDF.head() 

# Review the DataFrame
adaDF

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,1.012550,1.015360,1.001530,1.007280,1.007280,1685299968
1,2018-01-02,1.005740,1.009880,0.993250,1.004900,1.004900,2635859968
2,2018-01-03,1.006600,1.023280,1.002640,1.013440,1.013440,2471689984
3,2018-01-04,1.013200,1.016180,0.993822,1.002530,1.002530,3200130048
4,2018-01-05,1.001750,1.005010,0.985915,0.998634,0.998634,3096620032
...,...,...,...,...,...,...,...
1966,2023-05-21,1.000476,1.000705,1.000090,1.000183,1.000183,13532622119
1967,2023-05-22,1.000142,1.000834,0.999855,1.000201,1.000201,17216429735
1968,2023-05-23,1.000245,1.000628,0.999703,1.000104,1.000104,21420969303
1969,2023-05-24,1.000061,1.000449,0.999595,1.000039,1.000039,25306791660
1970,2023-05-25,0.999780,1.000310,0.999539,1.000011,1.000011,21306755072

In [3]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1971 non-null   object
 1   Open       1971 non-null   float64
 2   High       1971 non-null   float64
 3   Low        1971 non-null   float64
 4   Close      1971 non-null   float64
 5   Adj Close  1971 non-null   float64
 6   Volume     1971 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 107.9+ KB

In [4]:

# Convert 'date' column to datetime
adaDF['Date'] = pd.to_datetime(adaDF['Date'])

# Extract year, month, and day into separate columns
adaDF['year'] = adaDF['Date'].dt.year.astype(int)
adaDF['month'] = adaDF['Date'].dt.month.astype(int)
adaDF['day'] = adaDF['Date'].dt.day.astype(int)

adaDF.set_index("Date", inplace=True)

# Display the updated DataFrame
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,1.012550,1.015360,1.001530,1.007280,1.007280,1685299968,2018,1,1
2018-01-02,1.005740,1.009880,0.993250,1.004900,1.004900,2635859968,2018,1,2
2018-01-03,1.006600,1.023280,1.002640,1.013440,1.013440,2471689984,2018,1,3
2018-01-04,1.013200,1.016180,0.993822,1.002530,1.002530,3200130048,2018,1,4
2018-01-05,1.001750,1.005010,0.985915,0.998634,0.998634,3096620032,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-21,1.000476,1.000705,1.000090,1.000183,1.000183,13532622119,2023,5,21
2023-05-22,1.000142,1.000834,0.999855,1.000201,1.000201,17216429735,2023,5,22
2023-05-23,1.000245,1.000628,0.999703,1.000104,1.000104,21420969303,2023,5,23
2023-05-24,1.000061,1.000449,0.999595,1.000039,1.000039,25306791660,2023,5,24
2023-05-25,0.999780,1.000310,0.999539,1.000011,1.000011,21306755072,2023,5,25

In [5]:
adaDF["TomorrowClose"] = adaDF["Close"].shift(-1)
adaDF.dropna(inplace=True)
adaDF

,Open,High,Low,Close,Adj Close,Volume,year,month,day,TomorrowClose
Date,,,,,,,,,,
2018-01-01,1.012550,1.015360,1.001530,1.007280,1.007280,1685299968,2018,1,1,1.004900
2018-01-02,1.005740,1.009880,0.993250,1.004900,1.004900,2635859968,2018,1,2,1.013440
2018-01-03,1.006600,1.023280,1.002640,1.013440,1.013440,2471689984,2018,1,3,1.002530
2018-01-04,1.013200,1.016180,0.993822,1.002530,1.002530,3200130048,2018,1,4,0.998634
2018-01-05,1.001750,1.005010,0.985915,0.998634,0.998634,3096620032,2018,1,5,1.008990
...,...,...,...,...,...,...,...,...,...,...
2023-05-20,1.000250,1.000578,1.000016,1.000399,1.000399,11851408172,2023,5,20,1.000183
2023-05-21,1.000476,1.000705,1.000090,1.000183,1.000183,13532622119,2023,5,21,1.000201
2023-05-22,1.000142,1.000834,0.999855,1.000201,1.000201,17216429735,2023,5,22,1.000104
2023-05-23,1.000245,1.000628,0.999703,1.000104,1.000104,21420969303,2023,5,23,1.000039
2023-05-24,1.000061,1.000449,0.999595,1.000039,1.000039,25306791660,2023,5,24,1.000011

In [6]:
adaDF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1970 entries, 2018-01-01 to 2023-05-24
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           1970 non-null   float64
 1   High           1970 non-null   float64
 2   Low            1970 non-null   float64
 3   Close          1970 non-null   float64
 4   Adj Close      1970 non-null   float64
 5   Volume         1970 non-null   int64
 6   year           1970 non-null   int64
 7   month          1970 non-null   int64
 8   day            1970 non-null   int64
 9   TomorrowClose  1970 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 169.3 KB

In [7]:
# Separate the data into labels and features

y = adaDF["TomorrowClose"]
X = adaDF.drop(columns=["TomorrowClose"])

In [8]:
# Review the y variable Series
y

Date
2018-01-01    1.004900
2018-01-02    1.013440
2018-01-03    1.002530
2018-01-04    0.998634
2018-01-05    1.008990
                ...
2023-05-20    1.000183
2023-05-21    1.000201
2023-05-22    1.000104
2023-05-23    1.000039
2023-05-24    1.000011
Name: TomorrowClose, Length: 1970, dtype: float64

In [9]:
# Review the X variable DataFrame
X

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2018-01-01,1.012550,1.015360,1.001530,1.007280,1.007280,1685299968,2018,1,1
2018-01-02,1.005740,1.009880,0.993250,1.004900,1.004900,2635859968,2018,1,2
2018-01-03,1.006600,1.023280,1.002640,1.013440,1.013440,2471689984,2018,1,3
2018-01-04,1.013200,1.016180,0.993822,1.002530,1.002530,3200130048,2018,1,4
2018-01-05,1.001750,1.005010,0.985915,0.998634,0.998634,3096620032,2018,1,5
...,...,...,...,...,...,...,...,...,...
2023-05-20,1.000250,1.000578,1.000016,1.000399,1.000399,11851408172,2023,5,20
2023-05-21,1.000476,1.000705,1.000090,1.000183,1.000183,13532622119,2023,5,21
2023-05-22,1.000142,1.000834,0.999855,1.000201,1.000201,17216429735,2023,5,22
2023-05-23,1.000245,1.000628,0.999703,1.000104,1.000104,21420969303,2023,5,23
2023-05-24,1.000061,1.000449,0.999595,1.000039,1.000039,25306791660,2023,5,24

In [10]:
# Check the balance of our target values
y.value_counts()

1.000077    5
1.000092    5
1.000559    4
1.000132    4
1.000111    4
           ..
1.004573    1
1.003744    1
1.002090    1
0.996918    1
1.000248    1
Name: TomorrowClose, Length: 1603, dtype: int64

In [11]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    )

In [12]:
from sklearn.linear_model import LinearRegression

# Instantiate the Linear Regression model
regressor = LinearRegression()

# Fit the model using training data
regressor.fit(X_train, y_train)

# Predict the future values using test data
y_pred = regressor.predict(X_test)

In [13]:
X_train

,Open,High,Low,Close,Adj Close,Volume,year,month,day
Date,,,,,,,,,
2020-03-26,0.998597,1.012367,0.995058,0.998483,0.998483,42020889460,2020,3,26
2018-09-28,0.994787,1.013500,0.988149,1.001420,1.001420,3447280000,2018,9,28
2022-11-22,0.999081,0.999309,0.998874,0.999157,0.999157,44056204568,2022,11,22
2023-05-15,1.000455,1.000837,0.999935,1.000262,1.000262,21594744662,2023,5,15
2019-09-01,1.003919,1.006601,0.997522,1.004573,1.004573,13692453817,2019,9,1
...,...,...,...,...,...,...,...,...,...
2022-11-27,0.999568,0.999654,0.999503,0.999604,0.999604,27588594951,2022,11,27
2021-01-01,1.000614,1.002052,1.000608,1.001916,1.001916,60509986287,2021,1,1
2023-04-17,1.000410,1.001024,0.999914,1.000530,1.000530,32406207872,2023,4,17
2018-08-24,0.998429,1.008960,0.994293,1.001780,1.001780,2850500000,2018,8,24
2020-11-27,1.001955,1.002112,1.000664,1.001200,1.001200,71012323469,2020,11,27

In [14]:


# Evaluate the model's performance
from sklearn.metrics import mean_squared_error, r2_score

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the coefficient of determination (R^2 score)
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

Mean Squared Error: 8.421787382629662e-06
R^2 Score: 0.5655266380657396

In [15]:
print("Tether (USDT)")
highest_value = adaDF['High'].max()
highest_date = adaDF.loc[adaDF['High'] == highest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_highest_value = round(highest_value, 2)
print("Highest Value: $", rounded_highest_value, "on", highest_date.iloc[0])

lowest_value = adaDF['High'].min()
lowest_date = adaDF.loc[adaDF['High'] == lowest_value, ['month', 'day', 'year']].astype(str).agg('/'.join, axis=1)
rounded_lowest_value = round(lowest_value, 2)
print("Lowest Value: $", rounded_lowest_value, "on", lowest_date.iloc[0])

Tether (USDT)
Highest Value: $ 1.08 on 3/13/2020
Lowest Value: $ 0.98 on 10/17/2018

In [16]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          TomorrowClose   R-squared:                       0.543
Model:                            OLS   Adj. R-squared:                  0.541
Method:                 Least Squares   F-statistic:                     249.1
Date:                Fri, 02 Jun 2023   Prob (F-statistic):          2.29e-244
Time:                        17:03:09   Log-Likelihood:                 6274.3
No. Observations:                1477   AIC:                        -1.253e+04
Df Residuals:                    1469   BIC:                        -1.249e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Open           0.2110      0.031      6.732      0.000       0.150       0.273
High           0.0709      0.017      4.165      0.000       0.037       0.104
Low            0.0504      0.018      2.763      0.006       0.015       0.086
Close          0.2371      0.016     14.975      0.000       0.206       0.268
Adj Close      0.2371      0.016     14.975      0.000       0.206       0.268
Volume     -3.745e-15   2.67e-15     -1.405      0.160   -8.97e-15    1.48e-15
year        9.611e-05   9.73e-06      9.882      0.000     7.7e-05       0.000
month      -3.105e-05   2.61e-05     -1.187      0.235   -8.23e-05    2.02e-05
day        -9.883e-06   1.04e-05     -0.954      0.340   -3.02e-05    1.04e-05
==============================================================================
Omnibus:                     1114.185   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           136752.369
Skew:                           2.701   Prob(JB):                         0.00
Kurtosis:                      49.829   Cond. No.                     1.22e+26
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.07e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [17]:
y_test

Date
2019-11-12    1.003175
2021-04-25    1.000042
2021-03-09    1.000526
2021-06-04    1.000313
2020-10-05    1.000448
                ...
2018-01-20    0.999861
2021-06-21    1.001002
2022-05-11    0.997609
2019-03-09    1.008822
2022-09-22    0.999981
Name: TomorrowClose, Length: 493, dtype: float64

In [18]:
y_pred

array([1.001932  , 1.00017492, 1.00084107, 1.00097151, 1.00111167,
       1.00070574, 0.9959939 , 1.00771939, 0.99994004, 1.00732706,
       1.0005606 , 1.00011036, 1.00896049, 1.00061441, 1.00010411,
       1.00459369, 1.00423476, 1.01785372, 1.00140397, 1.00045929,
       1.0051647 , 1.00268827, 1.00109806, 0.99928044, 0.99998888,
       1.00078621, 1.00024192, 1.00044394, 1.0003662 , 0.99424708,
       1.00545495, 0.99987087, 1.00031572, 1.00036942, 1.00008425,
       1.00255121, 1.0041433 , 1.00042562, 1.00070959, 0.99987117,
       1.00035963, 1.00063777, 1.00210224, 1.00412776, 1.00207053,
       1.00072162, 1.00030121, 1.00041336, 1.00014874, 1.00406704,
       1.00098888, 1.00043006, 0.99260286, 1.00376138, 1.0000946 ,
       1.00065721, 0.99966968, 1.00017244, 1.00098476, 0.99997759,
       1.0003424 , 1.00514169, 1.00102854, 1.00269216, 1.00039779,
       0.99976999, 0.99963893, 1.00179843, 1.00006042, 1.00500888,
       1.00086366, 1.00213558, 1.00073672, 1.00068173, 1.00209065,
       1.00061404, 1.00002723, 0.999696  , 1.00433275, 0.99920526,
       0.99976456, 1.0039502 , 0.9991588 , 1.00032052, 1.00086499,
       1.00031314, 1.00711739, 1.00036818, 1.00044753, 1.0002924 ,
       0.99862509, 1.00134338, 1.00035985, 1.00034599, 0.99969141,
       1.00031076, 1.00170778, 0.99907401, 1.00383011, 1.00083817,
       1.0006409 , 0.99986118, 1.0041533 , 1.00245706, 1.00276058,
       1.00011957, 1.00053411, 1.00019287, 0.99923041, 1.00370547,
       1.00032825, 0.995073  , 1.00033278, 1.00331243, 1.01180306,
       1.00150741, 1.00014993, 1.00021301, 1.00170701, 0.99919086,
       1.00569655, 1.00070721, 0.99165736, 0.99868474, 1.00022626,
       1.00070224, 1.00012507, 1.000919  , 1.00076365, 1.00296709,
       1.00042396, 1.00382663, 0.99922831, 1.00223864, 1.0092805 ,
       1.00072061, 1.00207801, 1.00053842, 0.98841937, 0.99982901,
       0.9990633 , 0.99944485, 1.00064613, 1.00150719, 1.00048221,
       1.00024785, 1.00230824, 1.00107372, 0.99958868, 1.01694717,
       1.00071218, 1.00025412, 1.00019805, 1.00005637, 1.00567632,
       1.00012982, 1.00644959, 1.001468  , 0.99996223, 1.00140649,
       1.0041077 , 1.00532281, 1.00482571, 1.00655642, 0.99926959,
       1.00132692, 1.00248256, 1.00109849, 0.99985528, 0.99917932,
       1.00031793, 1.00175412, 1.00034568, 1.00020337, 1.00076753,
       0.99975589, 1.0005649 , 1.01121722, 1.00320848, 1.00109476,
       1.00043172, 1.00017394, 1.0003917 , 1.00110601, 1.00058298,
       1.0005555 , 1.00168337, 0.99949718, 0.99832156, 1.00012328,
       1.00999587, 1.00001476, 1.00070695, 1.00195881, 1.00064059,
       1.00263787, 1.00142495, 1.00134439, 1.00210073, 1.00349   ,
       0.99990516, 1.00028178, 1.00453508, 1.001087  , 1.00015587,
       1.00060452, 1.01586438, 1.00151232, 1.0004103 , 1.00077843,
       0.99600657, 0.99963226, 1.00229136, 0.99902728, 1.0063382 ,
       1.00075961, 0.99903553, 1.00521936, 1.00003971, 1.00125214,
       1.0094356 , 1.0010305 , 0.99245259, 1.00141084, 1.00003382,
       0.99994448, 1.00051384, 0.99930482, 1.00094178, 0.99925333,
       1.00292847, 0.99879303, 1.0075691 , 1.00035373, 1.00202999,
       1.00439143, 0.99950344, 0.99784551, 0.99523553, 1.00057254,
       1.00042501, 1.00255545, 0.99505767, 1.00389806, 1.00087242,
       0.99778373, 1.00006421, 1.00004145, 0.99829578, 1.00020495,
       1.00020172, 0.99919051, 1.00075352, 0.99920185, 1.00061474,
       1.0018393 , 0.99932784, 0.99994701, 1.00162688, 1.0024189 ,
       0.99934505, 1.00131689, 1.00461125, 1.0026238 , 1.00150016,
       1.01494128, 1.00048759, 1.0003487 , 1.0005512 , 1.00540836,
       1.00028592, 1.00012958, 1.00011727, 1.00288649, 1.00152371,
       0.99905759, 1.0003888 , 1.00734992, 0.99995388, 1.00252309,
       1.00036185, 1.00038383, 1.00085042, 1.00114379, 0.99993758,
       1.00029199, 0.99990988, 1.00070918, 1.00073712, 1.00161537,
       1.00140852, 1.00034616, 1.00077659, 1.00122324, 1.00366007,
       1.0003111 , 1.00594653, 1.00058266, 1.00333123, 1.00187863,
       1.0007949 , 1.00051469, 1.00056337, 1.00024633, 0.99999957,
       0.99908579, 1.0013116 , 1.00180293, 1.00262815, 0.99906373,
       0.99925781, 1.00447542, 1.00741379, 1.00029798, 1.00051977,
       0.99895302, 0.99968847, 0.99991456, 0.99927681, 1.00078809,
       1.00046144, 1.00179379, 1.00040887, 1.0053737 , 1.00228251,
       1.02767556, 1.00144063, 1.00064245, 1.00034148, 1.00032887,
       1.00007621, 1.00347557, 0.99944159, 1.00171628, 1.01417868,
       0.99991122, 0.99771127, 1.0002259 , 1.00050586, 1.0005511 ,
       1.0001773 , 0.99357342, 1.00004293, 1.00078872, 1.00325029,
       0.99684231, 1.000735  , 1.00091457, 1.01124225, 0.99944194,
       1.00034455, 1.00254347, 1.00101837, 1.00026289, 1.00018755,
       1.00887692, 1.00213739, 1.00101304, 1.00058351, 0.9995726 ,
       1.00128161, 0.99323116, 1.00063073, 1.00055264, 0.99947185,
       1.00630295, 1.00008046, 1.00207399, 1.00316193, 1.0004437 ,
       1.00285234, 1.02028304, 1.00064732, 1.00039811, 0.99954594,
       1.00795852, 1.00110562, 1.0002455 , 1.01731121, 1.01370972,
       1.00000183, 1.00090395, 0.99999717, 0.99809297, 1.00160134,
       1.00015665, 1.00076445, 1.00028758, 0.99286955, 1.00051602,
       0.9999979 , 0.99988573, 1.00111509, 1.00357783, 0.99925281,
       1.00338833, 0.99992882, 0.98719074, 0.99384445, 1.00090903,
       1.00036027, 1.0003404 , 0.9858945 , 1.00666802, 1.00188413,
       1.00033685, 1.00749847, 1.00594592, 1.00251821, 1.00045125,
       1.00189032, 1.0007662 , 1.00127789, 1.00858668, 1.00002313,
       1.00045052, 0.99886678, 1.00030854, 1.00407786, 0.99956954,
       0.99876926, 1.00661366, 1.0014707 , 1.0011853 , 1.00055343,
       1.00021492, 1.00032488, 1.00439381, 1.00072018, 1.00055448,
       0.99998375, 1.0009513 , 1.00007687, 1.00061582, 1.00055205,
       1.00014596, 1.00038076, 1.00133825, 0.99997304, 0.99946488,
       1.00016254, 1.00587093, 1.00466628, 1.00027952, 1.00056726,
       1.00630501, 0.99959064, 1.00034731, 1.00165463, 0.99591797,
       0.99399288, 1.00673274, 1.00015813, 1.00389892, 1.00044341,
       0.99990257, 1.00371614, 1.00075186, 1.00076476, 1.00141304,
       1.00043094, 1.00203143, 1.00330122, 0.9994195 , 1.00312808,
       1.00030882, 1.00635775, 1.00020976, 1.00912644, 0.99928298,
       0.99930814, 1.00231579, 1.00060716, 1.00142858, 1.00695004,
       1.00006592, 1.00232331, 0.99981263, 1.00022601, 1.00053828,
       0.99990083, 0.99820806, 1.00022927, 1.00112509, 1.00349049,
       1.0014551 , 1.01710359, 1.00015352, 1.0029603 , 1.00045684,
       0.99768011, 1.00666259, 0.99993371])

In [19]:
# Make a prediction using the testing data

predictions = regressor.predict(X_test)
predictions

array([1.001932  , 1.00017492, 1.00084107, 1.00097151, 1.00111167,
       1.00070574, 0.9959939 , 1.00771939, 0.99994004, 1.00732706,
       1.0005606 , 1.00011036, 1.00896049, 1.00061441, 1.00010411,
       1.00459369, 1.00423476, 1.01785372, 1.00140397, 1.00045929,
       1.0051647 , 1.00268827, 1.00109806, 0.99928044, 0.99998888,
       1.00078621, 1.00024192, 1.00044394, 1.0003662 , 0.99424708,
       1.00545495, 0.99987087, 1.00031572, 1.00036942, 1.00008425,
       1.00255121, 1.0041433 , 1.00042562, 1.00070959, 0.99987117,
       1.00035963, 1.00063777, 1.00210224, 1.00412776, 1.00207053,
       1.00072162, 1.00030121, 1.00041336, 1.00014874, 1.00406704,
       1.00098888, 1.00043006, 0.99260286, 1.00376138, 1.0000946 ,
       1.00065721, 0.99966968, 1.00017244, 1.00098476, 0.99997759,
       1.0003424 , 1.00514169, 1.00102854, 1.00269216, 1.00039779,
       0.99976999, 0.99963893, 1.00179843, 1.00006042, 1.00500888,
       1.00086366, 1.00213558, 1.00073672, 1.00068173, 1.00209065,
       1.00061404, 1.00002723, 0.999696  , 1.00433275, 0.99920526,
       0.99976456, 1.0039502 , 0.9991588 , 1.00032052, 1.00086499,
       1.00031314, 1.00711739, 1.00036818, 1.00044753, 1.0002924 ,
       0.99862509, 1.00134338, 1.00035985, 1.00034599, 0.99969141,
       1.00031076, 1.00170778, 0.99907401, 1.00383011, 1.00083817,
       1.0006409 , 0.99986118, 1.0041533 , 1.00245706, 1.00276058,
       1.00011957, 1.00053411, 1.00019287, 0.99923041, 1.00370547,
       1.00032825, 0.995073  , 1.00033278, 1.00331243, 1.01180306,
       1.00150741, 1.00014993, 1.00021301, 1.00170701, 0.99919086,
       1.00569655, 1.00070721, 0.99165736, 0.99868474, 1.00022626,
       1.00070224, 1.00012507, 1.000919  , 1.00076365, 1.00296709,
       1.00042396, 1.00382663, 0.99922831, 1.00223864, 1.0092805 ,
       1.00072061, 1.00207801, 1.00053842, 0.98841937, 0.99982901,
       0.9990633 , 0.99944485, 1.00064613, 1.00150719, 1.00048221,
       1.00024785, 1.00230824, 1.00107372, 0.99958868, 1.01694717,
       1.00071218, 1.00025412, 1.00019805, 1.00005637, 1.00567632,
       1.00012982, 1.00644959, 1.001468  , 0.99996223, 1.00140649,
       1.0041077 , 1.00532281, 1.00482571, 1.00655642, 0.99926959,
       1.00132692, 1.00248256, 1.00109849, 0.99985528, 0.99917932,
       1.00031793, 1.00175412, 1.00034568, 1.00020337, 1.00076753,
       0.99975589, 1.0005649 , 1.01121722, 1.00320848, 1.00109476,
       1.00043172, 1.00017394, 1.0003917 , 1.00110601, 1.00058298,
       1.0005555 , 1.00168337, 0.99949718, 0.99832156, 1.00012328,
       1.00999587, 1.00001476, 1.00070695, 1.00195881, 1.00064059,
       1.00263787, 1.00142495, 1.00134439, 1.00210073, 1.00349   ,
       0.99990516, 1.00028178, 1.00453508, 1.001087  , 1.00015587,
       1.00060452, 1.01586438, 1.00151232, 1.0004103 , 1.00077843,
       0.99600657, 0.99963226, 1.00229136, 0.99902728, 1.0063382 ,
       1.00075961, 0.99903553, 1.00521936, 1.00003971, 1.00125214,
       1.0094356 , 1.0010305 , 0.99245259, 1.00141084, 1.00003382,
       0.99994448, 1.00051384, 0.99930482, 1.00094178, 0.99925333,
       1.00292847, 0.99879303, 1.0075691 , 1.00035373, 1.00202999,
       1.00439143, 0.99950344, 0.99784551, 0.99523553, 1.00057254,
       1.00042501, 1.00255545, 0.99505767, 1.00389806, 1.00087242,
       0.99778373, 1.00006421, 1.00004145, 0.99829578, 1.00020495,
       1.00020172, 0.99919051, 1.00075352, 0.99920185, 1.00061474,
       1.0018393 , 0.99932784, 0.99994701, 1.00162688, 1.0024189 ,
       0.99934505, 1.00131689, 1.00461125, 1.0026238 , 1.00150016,
       1.01494128, 1.00048759, 1.0003487 , 1.0005512 , 1.00540836,
       1.00028592, 1.00012958, 1.00011727, 1.00288649, 1.00152371,
       0.99905759, 1.0003888 , 1.00734992, 0.99995388, 1.00252309,
       1.00036185, 1.00038383, 1.00085042, 1.00114379, 0.99993758,
       1.00029199, 0.99990988, 1.00070918, 1.00073712, 1.00161537,
       1.00140852, 1.00034616, 1.00077659, 1.00122324, 1.00366007,
       1.0003111 , 1.00594653, 1.00058266, 1.00333123, 1.00187863,
       1.0007949 , 1.00051469, 1.00056337, 1.00024633, 0.99999957,
       0.99908579, 1.0013116 , 1.00180293, 1.00262815, 0.99906373,
       0.99925781, 1.00447542, 1.00741379, 1.00029798, 1.00051977,
       0.99895302, 0.99968847, 0.99991456, 0.99927681, 1.00078809,
       1.00046144, 1.00179379, 1.00040887, 1.0053737 , 1.00228251,
       1.02767556, 1.00144063, 1.00064245, 1.00034148, 1.00032887,
       1.00007621, 1.00347557, 0.99944159, 1.00171628, 1.01417868,
       0.99991122, 0.99771127, 1.0002259 , 1.00050586, 1.0005511 ,
       1.0001773 , 0.99357342, 1.00004293, 1.00078872, 1.00325029,
       0.99684231, 1.000735  , 1.00091457, 1.01124225, 0.99944194,
       1.00034455, 1.00254347, 1.00101837, 1.00026289, 1.00018755,
       1.00887692, 1.00213739, 1.00101304, 1.00058351, 0.9995726 ,
       1.00128161, 0.99323116, 1.00063073, 1.00055264, 0.99947185,
       1.00630295, 1.00008046, 1.00207399, 1.00316193, 1.0004437 ,
       1.00285234, 1.02028304, 1.00064732, 1.00039811, 0.99954594,
       1.00795852, 1.00110562, 1.0002455 , 1.01731121, 1.01370972,
       1.00000183, 1.00090395, 0.99999717, 0.99809297, 1.00160134,
       1.00015665, 1.00076445, 1.00028758, 0.99286955, 1.00051602,
       0.9999979 , 0.99988573, 1.00111509, 1.00357783, 0.99925281,
       1.00338833, 0.99992882, 0.98719074, 0.99384445, 1.00090903,
       1.00036027, 1.0003404 , 0.9858945 , 1.00666802, 1.00188413,
       1.00033685, 1.00749847, 1.00594592, 1.00251821, 1.00045125,
       1.00189032, 1.0007662 , 1.00127789, 1.00858668, 1.00002313,
       1.00045052, 0.99886678, 1.00030854, 1.00407786, 0.99956954,
       0.99876926, 1.00661366, 1.0014707 , 1.0011853 , 1.00055343,
       1.00021492, 1.00032488, 1.00439381, 1.00072018, 1.00055448,
       0.99998375, 1.0009513 , 1.00007687, 1.00061582, 1.00055205,
       1.00014596, 1.00038076, 1.00133825, 0.99997304, 0.99946488,
       1.00016254, 1.00587093, 1.00466628, 1.00027952, 1.00056726,
       1.00630501, 0.99959064, 1.00034731, 1.00165463, 0.99591797,
       0.99399288, 1.00673274, 1.00015813, 1.00389892, 1.00044341,
       0.99990257, 1.00371614, 1.00075186, 1.00076476, 1.00141304,
       1.00043094, 1.00203143, 1.00330122, 0.9994195 , 1.00312808,
       1.00030882, 1.00635775, 1.00020976, 1.00912644, 0.99928298,
       0.99930814, 1.00231579, 1.00060716, 1.00142858, 1.00695004,
       1.00006592, 1.00232331, 0.99981263, 1.00022601, 1.00053828,
       0.99990083, 0.99820806, 1.00022927, 1.00112509, 1.00349049,
       1.0014551 , 1.01710359, 1.00015352, 1.0029603 , 1.00045684,
       0.99768011, 1.00666259, 0.99993371])